<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmMzQwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgQ3JlYXRlXApWaWRlb30=
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{29, 129}, {67, 60}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>8632824D-D544-4E96-A7C3-6F36F144E5C1</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmMzQwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgQWRkXApSZW5kaXRpb25zfQ==
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{141, 129}, {74, 60}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>700E7F2D-0D38-4C4C-B983-4146A9127F47</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmMzQwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgQWRkXApNYW5pZmVzdHNcCkhMUy9I
					RFMvSVNNL0lTTUMvRGFzaH0=
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{260, 114}, {74, 91}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>5BD7BFE8-AAA8-402F-B807-1B53DB883465</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmMzQwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQx
					MDhcZ3JlZW4xMDhcYmx1ZTEwODt9ClxwYXJk
					XHR4NTYwXHR4MTEyMFx0eDE2ODBcdHgyMjQw
					XHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
					MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3
					MjBccGFyZGlybmF0dXJhbFxxY1xwYXJ0aWdo
					dGVuZmFjdG9yMAoKXGYwXGZzMjQgXGNmMiBc
					dXAwIEFkZFwKRGlnaXRhbCBNYXN0ZXJ9
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{260, 24}, {57, 73}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>132C56D0-2323-45A8-ACF6-5F113269EFD2</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.422675:0.422662:0.422669:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmMzQwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgQWRkXApQb3N0ZXIgYW5kIFRodW1i
					bmFpbH0=
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{373, 114}, {74, 91}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>390092D2-B833-43BA-8010-A7038FF96CBA</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmMzQwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQx
					MDhcZ3JlZW4xMDhcYmx1ZTEwODt9ClxwYXJk
					XHR4NTYwXHR4MTEyMFx0eDE2ODBcdHgyMjQw
					XHR4MjgwMFx0eDMzNjBcdHgzOTIwXHR4NDQ4
					MFx0eDUwNDBcdHg1NjAwXHR4NjE2MFx0eDY3
					MjBccGFyZGlybmF0dXJhbFxxY1xwYXJ0aWdo
					dGVuZmFjdG9yMAoKXGYwXGZzMjQgXGNmMiBc
					dXAwIEFkZFwKQ2FwdGlvbnMgKG9ubHkgZm9y
					IFNtYXJ0IFBsYXllcil9
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{494, 182}, {74, 91}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>26D32137-705D-4B1A-9540-5A5636D61082</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.529648:0.529632:0.529641:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmMzQwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgVXBkYXRlIFZpZGVvIHRvIGFkZCBU
					ZXh0IFRyYWNrcyAoQnJpZ2h0Y292ZSBQbGF5
					ZXIpfQ==
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{494, 51}, {74, 91}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>92D2D6AC-3F90-4436-8304-E8A7085ABB32</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{96, 159}, {45, 0}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>0BFC22D9-91F9-4EA1-89F4-AB081E3C4A4D</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>2</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{215, 159}, {45, -98}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>7DFB0B18-1AB3-4F48-82ED-2FA78869E981</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.422675:0.422662:0.422669:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>2</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>1</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{215, 160}, {45, 0}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>13B1CF23-9CD3-48A3-BE98-DF9A23C62F0E</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>2</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{334, 159}, {39, 1}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>4513B59F-85FA-4DE5-BC84-1CF64AAF3DAB</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>2</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{447, 160}, {47, 68}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>3D963C2A-25D9-495F-89EC-C0C3ADAA4394</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.529648:0.529632:0.529641:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>1</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{447, 159}, {47, -62}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>1BB4A9CE-152B-45B2-9BFC-3C63FD7D12EC</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>2</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>7DFB0B18-1AB3-4F48-82ED-2FA78869E981</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>132C56D0-2323-45A8-ACF6-5F113269EFD2</string>
					<key>shapeRatio</key>
					<real>0.50549450549450547</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>3D963C2A-25D9-495F-89EC-C0C3ADAA4394</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>26D32137-705D-4B1A-9540-5A5636D61082</string>
					<key>shapeRatio</key>
					<real>0.50549450549450547</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>1BB4A9CE-152B-45B2-9BFC-3C63FD7D12EC</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>390092D2-B833-43BA-8010-A7038FF96CBA</string>
					<key>shapeRatio</key>
					<real>0.42857142857142855</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>3D963C2A-25D9-495F-89EC-C0C3ADAA4394</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>390092D2-B833-43BA-8010-A7038FF96CBA</string>
					<key>shapeRatio</key>
					<real>0.5714285714285714</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>0BFC22D9-91F9-4EA1-89F4-AB081E3C4A4D</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>700E7F2D-0D38-4C4C-B983-4146A9127F47</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>13B1CF23-9CD3-48A3-BE98-DF9A23C62F0E</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>700E7F2D-0D38-4C4C-B983-4146A9127F47</string>
					<key>shapeRatio</key>
					<real>0.6166666666666667</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>7DFB0B18-1AB3-4F48-82ED-2FA78869E981</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>700E7F2D-0D38-4C4C-B983-4146A9127F47</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>0BFC22D9-91F9-4EA1-89F4-AB081E3C4A4D</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>8632824D-D544-4E96-A7C3-6F36F144E5C1</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>1BB4A9CE-152B-45B2-9BFC-3C63FD7D12EC</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>92D2D6AC-3F90-4436-8304-E8A7085ABB32</string>
					<key>shapeRatio</key>
					<real>0.50549450549450547</real>
				</dict>
			</array>
			<key>constrainAspectRatio</key>
			<false/>
			<key>contentFilterSpecs</key>
			<array/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>1.000000:1.000000:1.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<false/>
			<key>fillShadowOffsetX</key>
			<real>2</real>
			<key>fillShadowOffsetY</key>
			<real>2</real>
			<key>fillType</key>
			<integer>0</integer>
			<key>frame</key>
			<string>{{0, 0}, {805, 480}}</string>
			<key>gridTolerance</key>
			<real>10</real>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>B7DA2276-0BCF-4BE8-983C-F38844162C16</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>anchorCorner</key>
				<integer>5</integer>
				<key>group</key>
				<integer>0</integer>
				<key>height</key>
				<real>480</real>
				<key>name</key>
				<string>Custom</string>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>805</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{402.5, 240}</string>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>strokeLineCap</key>
			<integer>0</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>1</real>
			<key>strokeShadowBlur</key>
			<real>5</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict/>
	<key>version</key>
	<integer>7</integer>
</dict>
</plist>
