/********************************
styles for timeline-thumbnails sample
********************************/
.player-outer-container {
  position: relative;
}
/* positioning for safari html player */
.htmlPlayer-safari {
  /* numbers below depend on player size/layout for the specific implementation */
  top: 245px;
  left: 80px;
  width: 310px;
}
/* positioning for chrome html player */
.htmlPlayer-chrome {
  /* numbers below depend on player size/layout for the specific implementation */
  top: 240px;
  left: 50px;
  width: 290px;
}
/* positioning for flash player */
.flashPlayer {
  /* numbers below depend on player size/layout for the specific implementation */
  top: 227px;
  left: 82px;
  width: 305px;
}
#BCL_thumbnails {
  position: absolute;
  /* number below depends on size of thumbnails */
  height: 28px;
}
.thumbnailContainer {
  position: absolute;
  /* height depends on height of thumbnails */
  height: 20px;
  width: 100%;
  cursor: pointer;
}
.videoThumbnail {
  position: relative;
  /* numbers below depend on the size of the thumbnails */
  top: -79px;
  left: -60px;
  width: 120px;
  cursor: pointer;
  vertical-align: top;
  border: 1px #333 solid;
}
.img-hidden {
  opacity: 0;
}
/*********************************
Flash player media psuedo controls
*********************************/
.flash-media-controls{
  position: absolute;
  top: 227px;
  left: 82px;
  width: 305px;
  height: 28px;
  background-color: #424E52;
}
.flash-playhead-well {
  position: absolute;
  top: 11px;
  left: 48px;
  height: 6px;
  width: 209px;
  background-color: #777978;
}
.flash-thumbnail-container {
  position: absolute;
  top: 9px;
  left: 48px;
  height: 10px;
  width: 209px;
}
.flash-time {
  color: #DFE1E2 !important;
  font-size: 12px;
  margin-left: 10px;
  padding-top: 5px;
}
#videoPosition {
  float: left;
}
#videoLength {
  float: right;
  margin-right: 10px
}
#positionIndicator {
  background-color: #b8bdbf;
  background-image: -webkit-gradient(linear, left center, right center, from(#b8bdbf), to(#fefefe));
  background-image: -webkit-linear-gradient(left, #b8bdbf, #fefefe);
  background-image: -moz-linear-gradient(left, #b8bdbf, #fefefe);
  background-image: -o-linear-gradient(left, #b8bdbf, #fefefe);
  background-image: -ms-linear-gradient(left, #b8bdbf, #fefefe);
  background-image: linear-gradient(left, #b8bdbf, #fefefe);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#b8bdbf', EndColorStr='#fefefe');
  width: 0;
  height: 6px;
}
.flash-play-button {
  position: absolute;
  left: 11px;
  top: 221px;
}
.flash-pause-button {
  position: absolute;
  left: 11px;
  top: 221px;
}
