# Begin rewriting
# RewriteEngine On

# 404 page
ErrorDocument	404	/en/404.html

# Redirect for changed
# RewriteRule	^video-cloud/opensource(.*)$	/en/video-cloud/open-source/						[L,QSA,R=301]
# RewriteRule	^video-cloud/android-sdk(.*)$	/en/video-cloud/brightcove-player-sdk-for-android$1	[L,QSA,R=301]
# RewriteRule	^video-cloud/ios-sdk(.*)$		/en/video-cloud/brightcove-player-sdk-for-ios$1		[L,QSA,R=301]

# Batch redirect for move to /video-cloud/
# RewriteCond		%{REQUEST_FILENAME}					!-f/d
# RewriteCond		%{REQUEST_URI}						^/en/(.+)$
# RewriteCond		%{DOCUMENT_ROOT}/en/video-cloud/$1	-f [OR]
# RewriteCond		%{DOCUMENT_ROOT}/en/video-cloud/$1	-d
# RewriteRule		(.*)	/en/video-cloud/$1	[L,QSA,R=301]