<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageLastPublished</key>
	<date>1970-01-01T00:00:00Z</date>
	<key>LastPublished</key>
	<date>1970-01-01T00:00:00Z</date>
	<key>LocalEnclosureFileInfo</key>
	<dict/>
	<key>UniqueIdentifier</key>
	<string>7A56259D-A5C2-40C5-96BE-15264C568FDF-1237-00012FE0D9FF2F4C</string>
	<key>feedFileName</key>
	<string>DeveloperProductUpdates.xml</string>
	<key>feedURL</key>
	<string>file://localhost/Users/rcrooks/git/BCL-developer-docs/en/DeveloperProductUpdates.xml</string>
	<key>isTransient</key>
	<integer>0</integer>
</dict>
</plist>
