openapi: 3.0.0
x-bc-implicit-head: true
x-bc-implicit-options: true
x-bc-upstream: 'http://backend_server'
info:
  title: Audit API Reference
  description: >-
    Reference for the Brightcove Audit API. This API allows you to generate a daily access report for your account's Playback Authorization Service usage with session details.

     **Base URL**: https://playback-auth.api.brightcove.com
  version: 1.0.0
  x-bc-access: public
servers:
  - url: 'https://playback-auth.api.brightcove.com/v1/audit'
    variables: {}
tags:
  - name: Audit
    description: Operations for requesting, checking the status and getting the daily usage report URL for Brightcove's Playback Authorization Service.
paths:
  '/accounts/{accountID}/query/{date}':
    post:
      tags:
        - Audit
      summary: Request a daily usage report
      description: |-
        Request a daily usage report for Brightcove's Playback Authorization Service
      operationId: RequestReport
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/audit
      parameters:
        - name: accountID
          in: path
          description: Video Cloud account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: date
          in: path
          description: |-
            Date for requested usage report
            Validations:
              - Format YYYY-MM-DD
              - Date cannot be today (UTC time)
              - Date cannot be < 30 days in the past
              - Brightcove does not hold on to the authorization service usage reports after 30 days to follow GDPR compliance
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: date
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestResponse'
        '400':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your policy
            key is correct
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{accountID}/execution/{executionID}/status':
    get:
      tags:
        - Audit
      summary: Check usage report status
      description: 'Check the status of your usage report request'
      operationId: CheckStatus
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/audit
      parameters:
        - name: accountID
          in: path
          description: Video Cloud account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: executionID
          in: path
          description: A unique ID associated with a usage report for a specified accountID and date
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status400'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your policy
            key is correct
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status500'
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{accountID}/execution/{executionID}/report':
    get:
      tags:
        - Audit
      summary: Fetch usage report
      description: 'Fetch your daily usage report'
      operationId: FetchReport
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/audit
      parameters:
        - name: accountID
          in: path
          description: Video Cloud account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: executionID
          in: path
          description: A unique ID associated with a usage report for a specified accountID and date
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPolicy200'
        '400':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your policy
            key is correct
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  schemas:
    RequestResponse:
      title:  Request Response
      required:
        - executionID
      type: string
      description: A unique ID associated with a usage report for a specified accountID and date
      properties:
        executionID:
          type: string
          description: A unique ID associated with a usage report for a specified accountID and date
      example: >-
        {
          "executionID": "abcdef-asfdag-dvsbcd"
        }
    StatusResponse:
      title:  Status Response
      required:
        - status
      type: string
      description: The status returned from a report query
      properties:
        status:
          type: string
          description: |-
            The status returned from a report query.
            Values:
            - "completed"
            - "processing"
            - "failed"
      example: >-
        {
          "status": "completed"
        }
    Status200:
      title:  Status Response 200
      required:
        - status
      type: string
      description: The status returned from a report query
      properties:
        status:
          type: string
          description: The status returned from a report query.
      example: >-
        {
          "status": "completed"
        }
    Status400:
      title:  Status Response 400
      required:
        - status
      type: string
      description: The status returned from a report query
      properties:
        status:
          type: string
          description: The status returned from a report query.
      example: >-
        {
          "status": "failed",
          "message": "Error executing status for executionID"
        }
    Status500:
      title:  Status Response 500
      required:
        - status
      type: string
      description: The status returned from a report query
      properties:
        status:
          type: string
          description: The status returned from a report query.
      example: >-
        {
          "status": "failed",
          "message": "Internal Server Error"
        }




    CreateAKeybody:
      title: Create_a_Key_Body
      required:
        - key-data
      type: object
      properties:
        key-data:
          description: Data for the public key
          $ref: '#/components/schemas/CreateAKeybody.key-data'
    CreateAKeybody.key-data:
      title: Create_a_Key_Body.key-data
      required:
        - account-id
      type: object
      properties:
        account-id:
          type: string
          description: Video Cloud account id
        value:
          type: string
          description: >-
            The publisher will generate a public-private key pair and provide the public key to Brightcove
    CreateAKeyResponse:
      title:  Request Response
      required:
        - key_string
        - key-data
      type: object
      properties:
        key_string:
          type: string
          description: The policy key string
        key-data:
          description: Map of key data prescribing the policy
          $ref: '#/components/schemas/KeyData'
      example: >-
        {
          "key-string": "BCpkADawqM1IftwCYR6HsNBjvIoCgGZdeSz6f1zJYW4mGg7YFiCIejFI1np9eYIsweJ_RynK7mXlB1vYCN8BCRbgp9MrXPRzGlLiShLBd5HGnRjYsLsb6p02eDpFKuNu_jwKLzlvdRjJR5fQPpCxUFlpPL_55HXWZtwfWeyolAuxK7q2V2Nc6p1J-cu",
          "key-data": {
            "account-id": "2728142649001",
            "apis": [
              "search"
            ],
            "allowed-domains": [
              "https://54.210.55.162"
            ]
          }
        }
    KeyData:
      title: key-data
      required:
        - account-id
        - apis
        - allowed-domains
        - require-ad-config
        - geo
      type: object
      properties:
        account-id:
          type: string
          description: The Video Cloud account id
        apis:
          type: array
          items:
            type: string
          description: Array of apis permitted for the key
        allowed-domains:
          type: array
          items:
            type: string
          description: Array of domains allowed to use this key
        require-ad-config:
          type: boolean
          description: >-
            Whether Playback API requests require an ad-config-id URL parameter
            for server-side ad insertion
        geo:
          description: Map of geo-filtering properties
          $ref: '#/components/schemas/KeyData.geo'
    KeyData.geo:
      title: key-data.geo
      required:
        - countries
        - exclude_countries
      type: object
      properties:
        countries:
          type: array
          items:
            type: string
          description: >-
            Array of ISO 3166 list of 2- or 4-letter codes in lower-case (search
            for &quot;country codes&quot;)
        exclude_countries:
          type: boolean
          description: >-
            If true, country array is treated as a list of countries excluded
            from viewing. If false, the country array is a list of countries
            included for viewing.
    GetPolicy200:
      title: Get_Policy200
      required:
        - key_string
        - key-data
      type: object
      properties:
        key_string:
          type: string
          description: The policy key string
        key-data:
          description: Map of key data prescribing the policy
          $ref: '#/components/schemas/KeyData'
  securitySchemes:
    BC_OAuth2:
      type: oauth2
      description: >-
        Brightcove OAuth API. See the [support documentation](https://support.brightcove.com/oauth-api) or [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token) to learn more
      flows:
        clientCredentials:
          tokenUrl: 'https://oauth.brightcove.com/v4/access_token'
          scopes:
            video-cloud/playback-auth/key/read: Read key data
            video-cloud/playback-auth/key/write: Write key data
