/*
RGB values here are in hexadecimal.
BLACK SWAN #000000
GRAY'S ANATOMY #4F4E52
WHITE WEDDING #FFFFFF
A CLOCKWORK ORANGE #FBAF3F
HILL STREET BLUES #41C3DC
THE GREEN MILE #78A12E
PURPLE RAIN #9261A8
RED DAWN #9F0C30
*/

.span7
{
    width: 99%;
    margin: auto;
}

.overall-contains
{
    padding-top: 40px;
    background-color: #FEFEFE;
    text-align: center;
}

.main_div
{
    padding-top: 20px;
    text-align: center;
    background-color: #FEFEFE;
}

.mainTable
{
    margin: 0px auto;
    margin-top: 20px;
    background-color: #FEFEFE;
}

.great-row
{
    margin: auto;    
}

.navbar-inner
{
    background-color: #4F4E52;
}

.classoidBlob
{
    border: solid #4F4E52 2px;
    background-color: #FFFFFF;
    color: #4F4E52;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    /*display: inline-block;*/
    text-align: left;
    /*width: 250px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    */
}

.classoidBlob a:link,
.classoidBlob a:hover,
.classoidBlob a:visited,
.classoidBlob a:active
{
    color: #4F4E52;
}

.classoidUList
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 250px;
    /*column-height*/ height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.blobTitle
{
    background-color: #4F4E52;
    display: block;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    height: 26px;
    padding-top: 5px;
}

a:link,
a:hover,
a:visited,
a:active
{
    font-family: "Arial";
    text-decoration: none;
}

.blobTitle a:link,
.blobTitle a:hover,
.blobTitle a:visited,
.blobTitle a:active
{
    color: #FFFFFF;
    font-size: 14pt;
}

.brandTitle
{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20pt;
    display: inline-block;
}

.brandTitle a:link,
.brandTitle a:hover,
.brandTitle a:visited,
.brandTitle a:active
{
    color: #FFFFFF; /*#4F4E52;*/
}

.ourLogo
{
    margin-top: -10px;
}

.main_div
{
    padding-left: 50px;
    padding-right: 50px;
    color: #4F4E52;
}

.feedback-button
{
    display: inline-block;
    border-radius: 4px;
    margin-right: 10px;
}

/*.feedback-button a:link,
.feedback-button a:hover,
.feedback-button a:visited,
.feedback-button a:active
{
    background-color: #4F4E52;
}*/

#copyrightNotice a:link,
#copyrightNotice a:hover,
#copyrightNotice a:visited,
#copyrightNotice a:active
{
    color: #4F4E52;
}

#copyrightNotice
{
    color: #4F4E52;
}

.lowerBar
{
    text-align : center;
    background-color: #FFFFFF;
}

footer
{
    background-color: #FFFFFF;
}
