#twitter_panel {
  background-color:#292929;
  border-color: #1a1a1a;
  color:#999;
}

#twitter_panel .singleRule {
  border-color:#414141;
}

#twitter_button,
#twitter_form_title {
  background-image:url(/images/apps/timespeople/dark/twitter.gif);
}

#twitter_close {
  background-image: url(/images/standalone/slideshow/tools/close_dark_on.gif);
}

button.appButtonSmall {
  background-image:url(/images/apps/buttons/rightcapsmall_dark.png); 
}

button.appButtonSmall span { 
  background-image:url(/images/apps/buttons/leftcapsmall_dark.png); 
  color:#fff;
}

button.appButtonSmallDone {
  background-image:url(/images/apps/buttons/rightcapsmall_dark_done.png); 
}

button.appButtonSmallDone span {
  background-image:url(/images/apps/buttons/leftcapsmall_dark_done.png); 
}