{
  "openapi": "3.0.0",
  "info": {
    "title": "Live API Reference",
    "description": "Reference for the Brightcove Live API, used to create and manage live streaming events.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bcovlive.io",
      "variables": {
        
      }
    }
  ],
  "paths": {
    "/v1/jobs": {
      "post": {
        "tags": [
          "Live Jobs"
        ],
        "summary": "Create_a_Live_Job",
        "description": "Create a live stream ",
        "operationId": "CreateALiveJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Create a live stream",
          "content": {
            "application/json": {
              "schema": {
                "description": "Create a live stream",
                "$ref": "#/components/schemas/CreateALiveJobbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateALiveJob200"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "get": {
        "tags": [
          "Live Jobs"
        ],
        "summary": "List_Live_Jobs",
        "description": "List live jobs",
        "operationId": "ListLiveJobs",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          },
          {
            "name": "start_token",
            "in": "query",
            "description": "Next token from previous page; do not specify when fetching first page",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Max number of jobs to return in one request (1-1000, default is 10)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Attribute to sort jobs by (`created_at` | `modified_at`, default is `created_at`)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "modified_at"
              ],
              "default": "created_at"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort direction (default is asc):`asc` - ascending; `desc` - descending",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter results by one or more user IDs",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "description": "User id"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "User id"
                  }
                }
              ]
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "description": "Filter results by particular account, or specify ‘*’ to search all accounts.  Default value is account API key belongs to",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter results by Unix time of job creation (in milliseconds)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "modified_at",
            "in": "query",
            "description": "Filter results by Unix time of job last modified (in milliseconds)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ad_insertion",
            "in": "query",
            "description": "Filter results by is SSAI enabled",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "static",
            "in": "query",
            "description": "Filter results by has static endpoint",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter results by one or more job states",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "description": "Job state",
                  "enum": [
                    "standby",
                    "waiting",
                    "processing",
                    "disconnected",
                    "cancelling",
                    "finishing",
                    "cancelled",
                    "finished",
                    "failed"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Job state",
                    "enum": [
                      "standby",
                      "waiting",
                      "processing",
                      "disconnected",
                      "cancelling",
                      "finishing",
                      "cancelled",
                      "finished",
                      "failed"
                    ]
                  }
                }
              ]
            }
          },
          {
            "name": "ssai_state",
            "in": "query",
            "description": "Filter results by one or more SSAI states",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "description": "SSAI job state",
                  "enum": [
                    "none",
                    "ready",
                    "waiting_input",
                    "start_transcoding",
                    "transcoding",
                    "error"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "SSAI job state",
                    "enum": [
                      "none",
                      "ready",
                      "waiting_input",
                      "start_transcoding",
                      "transcoding",
                      "error"
                    ]
                  }
                }
              ]
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter results by one or more regions",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "description": "region",
                  "enum": [
                    "us-west-2",
                    "us-east-1",
                    "ap-southeast-2",
                    "ap-northeast-1",
                    "ap-southeast-1",
                    "eu-central-1",
                    "eu-west-1",
                    "sa-east-1"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "region",
                    "enum": [
                      "us-west-2",
                      "us-east-1",
                      "ap-southeast-2",
                      "ap-northeast-1",
                      "ap-southeast-1",
                      "eu-central-1",
                      "eu-west-1",
                      "sa-east-1"
                    ]
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLiveJobs200"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "tags": [
          "Live Jobs"
        ],
        "summary": "Get_Live_Job_Details",
        "description": "Get Live Job Details ",
        "operationId": "GetLiveJobDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/jobs/{job_id}/activate": {
      "put": {
        "tags": [
          "Live Jobs"
        ],
        "summary": "Activate_SEP_Stream",
        "description": "Activate SEP (static entry point) Stream ",
        "operationId": "ActivateSepStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateSepStream200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/jobs/{job_id}/deactivate": {
      "put": {
        "tags": [
          "Live Jobs"
        ],
        "summary": "Deactivate_SEP_Stream",
        "description": "Deactivate SEP (static entry point) Stream ",
        "operationId": "DeactivateSepStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeactivateSepStream200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/jobs/{job_id}/cuepoint": {
      "post": {
        "tags": [
          "Live Jobs"
        ],
        "summary": "Manual_Ad_Cue_Point_Insertion",
        "description": "Inserts a manual Cue-Out with a duration to the Live ingest point. ",
        "operationId": "ManualAdCuePointInsertion",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Inserts a manual Cue-Out with a duration to the Live ingest point.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Inserts a manual Cue-Out with a duration to the Live ingest point.",
                "$ref": "#/components/schemas/ManualAdCuePointInsertionbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManualAdCuePointInsertion200"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details "
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details "
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: DB getItem, no results found - see Live API Error Messages for more details "
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/jobs/{job_id}/id3tag": {
      "post": {
        "tags": [
          "Live Jobs"
        ],
        "summary": "Insert_ID3_timed_metadata",
        "description": "Inserts an ID3 timed metadata tag for an ongoing job. Note that: 1) If using timecode property, the job only stores the most recent request for insertion; 2) If using timecode property, the encoder must be sending SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via OnFI ",
        "operationId": "InsertId3TimedMetadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Inserts an ID3 timed metadata tag for an ongoing job. Note that: 1) If using timecode property, the job only stores the most recent request for insertion; 2) If using timecode property, the encoder must be sending SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via OnFI",
          "content": {
            "application/json": {
              "schema": {
                "description": "Inserts an ID3 timed metadata tag for an ongoing job. Note that: 1) If using timecode property, the job only stores the most recent request for insertion; 2) If using timecode property, the encoder must be sending SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via OnFI",
                "$ref": "#/components/schemas/InsertId3TimedMetadatabody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertId3TimedMetadata200"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/jobs/{job_id}/cancel": {
      "put": {
        "tags": [
          "Live Jobs"
        ],
        "summary": "Cancel_Live_Job",
        "description": "Cancel a live stream ",
        "operationId": "CancelLiveJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelLiveJob200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/vods": {
      "post": {
        "tags": [
          "Clips"
        ],
        "summary": "Create_VOD_Clip",
        "description": "Create VOD clips from a Live Stream. ",
        "operationId": "CreateVodClip",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Create VOD clips from a Live Stream.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Create VOD clips from a Live Stream.",
                "$ref": "#/components/schemas/CreateVodClipbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VodJobs"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/jobs/{job-id}/vods": {
      "post": {
        "tags": [
          "Clips"
        ],
        "summary": "Create_VOD_Clip",
        "description": "Create VOD clips from a Live Stream. ",
        "operationId": "CreateVodClip",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          },
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "requestBody": {
          "description": "Create VOD clips from a Live Stream.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Create VOD clips from a Live Stream.",
                "$ref": "#/components/schemas/CreateVodClipbody2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VodJobs"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/ssai/applications": {
      "post": {
        "tags": [
          "SSAI"
        ],
        "summary": "Create_Ad_Configuration",
        "description": "Create a configuration for server-side ad application. ",
        "operationId": "CreateAdConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Create a configuration for server-side ad application.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Create a configuration for server-side ad application.",
                "$ref": "#/components/schemas/CreateAdConfigurationbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "get": {
        "tags": [
          "SSAI"
        ],
        "summary": "Create_Ad_Configuration",
        "description": "Get ad applications for the current user.",
        "operationId": "GetuserAdConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/ssai/applications/account/{account_id}": {
      "get": {
        "tags": [
          "SSAI"
        ],
        "summary": "Get_Account_Ad_Configurations",
        "description": "Get ad applications for an account. ",
        "operationId": "GetAccountAdConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveAccountId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/ssai/applications/application/{application_id}": {
      "get": {
        "tags": [
          "SSAI"
        ],
        "summary": "Get_Ad_Configuration",
        "description": "Get an ad application. ",
        "operationId": "GetAdConfiguration",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "The ad application id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "tags": [
          "SSAI"
        ],
        "summary": "Update_Ad_Configuration",
        "description": "Update a configuration for server-side ad application. ",
        "operationId": "UpdateAdConfiguration",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "The ad application id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Update a configuration for server-side ad application.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Update a configuration for server-side ad application.",
                "$ref": "#/components/schemas/UpdateAdConfigurationbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "tags": [
          "SSAI"
        ],
        "summary": "Delete_Ad_Configuration",
        "description": "Delete an ad application. ",
        "operationId": "DeleteAdConfiguration",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "The ad application id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAdConfiguration200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/ssai/beaconsets": {
      "post": {
        "tags": [
          "SSAI"
        ],
        "summary": "Create_beacon_set",
        "description": "Beacons are data points on playback sent to ad servers to track whether and how much of ads were played. Creates a beacon set. ",
        "operationId": "CreateBeaconSet",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Beacons are data points on playback sent to ad servers to track whether and how much of ads were played. Creates a beacon set.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Beacons are data points on playback sent to ad servers to track whether and how much of ads were played. Creates a beacon set.",
                "$ref": "#/components/schemas/CreateBeaconSetbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeaconSet"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "get": {
        "tags": [
          "SSAI"
        ],
        "summary": "Get_beacon_sets_for_user",
        "description": "Get all beacon sets for the requesting user. ",
        "operationId": "GetBeaconSetsForUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeaconSet"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/ssai/beaconsets/beaconset/beacon_set_id": {
      "put": {
        "tags": [
          "SSAI"
        ],
        "summary": "Update_beacon_set",
        "description": "Updates a beacon set. ",
        "operationId": "UpdateBeaconSet",
        "parameters": [
          {
            "$ref": "#/components/parameters/BeaconSetId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Updates a beacon set.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Updates a beacon set.",
                "$ref": "#/components/schemas/UpdateBeaconSetbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeaconSet"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "tags": [
          "SSAI"
        ],
        "summary": "Delete_beacon_set",
        "description": "Deletes a beacon set. ",
        "operationId": "DeleteBeaconSet",
        "parameters": [
          {
            "$ref": "#/components/parameters/BeaconSetId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBeaconSet200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/ssai/beaconsets/account/{account_id}": {
      "get": {
        "tags": [
          "SSAI"
        ],
        "summary": "Get_beacon_sets",
        "description": "Get all beacon sets for an account. ",
        "operationId": "GetBeaconSets",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveAccountId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeaconSet"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/ssai/slates": {
      "post": {
        "tags": [
          "SSAI"
        ],
        "summary": "Ingest_Slate_Media_Source_Asset",
        "description": "Ingest Slate Media Source Asset. ",
        "operationId": "IngestSlateMediaSourceAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Ingest Slate Media Source Asset.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Ingest Slate Media Source Asset.",
                "$ref": "#/components/schemas/IngestSlateMediaSourceAssetbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestSlateMediaSourceAsset200"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "get": {
        "tags": [
          "SSAI"
        ],
        "summary": "Get_User_Slate_Media_Source_Assets",
        "description": "Get Slate Media Source Assets for the current user. ",
        "operationId": "GetUserSlateMediaSourceAssets",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSlateMediaSourceAssets200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/ssai/slates/slate{slate_msa_id}": {
      "delete": {
        "tags": [
          "SSAI"
        ],
        "summary": "Delete_Slate_Media_Source_Asset",
        "description": "Delete Slate Media Source Asset. ",
        "operationId": "DeleteSlateMediaSourceAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlateMsaId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSlateMediaSourceAsset200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/ssai/slates/account/{account_id}": {
      "get": {
        "tags": [
          "SSAI"
        ],
        "summary": "Get_slates_for_account",
        "description": "Get all beacon sets for an account. ",
        "operationId": "GetSlatesForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveAccountId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSlateMediaSourceAssets200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/credentials": {
      "get": {
        "tags": [
          "Credentials"
        ],
        "summary": "List_Credentials",
        "description": "This endpoint can be used to get user credentials for a given user provided one has an API key. ",
        "operationId": "ListCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCredentials200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "Create_Credential",
        "description": "Create a new credential. ",
        "operationId": "CreateCredential",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Create a new credential.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Create a new credential.",
                "$ref": "#/components/schemas/CreateCredentialbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCredential200"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/credentials/{credential_id}": {
      "put": {
        "tags": [
          "Credentials"
        ],
        "summary": "Update_Credential",
        "description": "Update a credential. ",
        "operationId": "UpdateCredential",
        "parameters": [
          {
            "$ref": "#/components/parameters/CredentialId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "requestBody": {
          "description": "Update a credential.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Update a credential.",
                "$ref": "#/components/schemas/UpdateCredentialbody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCredential200"
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Invalid input value - see Live API Error Messages for more details"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "tags": [
          "Credentials"
        ],
        "summary": "Delete_Credential",
        "description": "Delete a credential. ",
        "operationId": "DeleteCredential",
        "parameters": [
          {
            "$ref": "#/components/parameters/CredentialId"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/XAPIKEY"
          }
        ],
        "responses": {
          "204": {
            "description": "NO_CONTENT: the credential was deleted"
          },
          "401": {
            "description": "UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details"
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested - see Live API Error Messages for more details"
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR: see Live API Error Messages for more details"
          }
        },
        "deprecated": false,
        "security": [
          
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Path": {
        "title": "Path",
        "required": [
          "credential_id",
          "job_id",
          "application_id",
          "slate_msa_id",
          "beacon_set_id",
          "account_id"
        ],
        "type": "object",
        "properties": {
          "credential_id": {
            "type": "string",
            "description": "The credential id"
          },
          "job_id": {
            "type": "string",
            "description": "The job id."
          },
          "application_id": {
            "type": "string",
            "description": "The ad application id"
          },
          "slate_msa_id": {
            "type": "string",
            "description": "The id for the Slate media source asset"
          },
          "beacon_set_id": {
            "type": "string",
            "description": "The id for the beacon set"
          },
          "account_id": {
            "type": "string",
            "description": "The Live account id"
          }
        }
      },
      "CreateVodClipbody": {
        "title": "Create_VOD_ClipBody",
        "required": [
          "live_job_id",
          "outputs"
        ],
        "type": "object",
        "properties": {
          "live_job_id": {
            "type": "string",
            "description": "The id of Live Stream job to create the VOD clip from."
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateVodClipbody.outputs"
            },
            "description": "Array of VOD outputs"
          }
        }
      },
      "CreateVodClipbody2": {
        "title": "Create_VOD_ClipBody",
        "required": [
          "outputs"
        ],
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateVodClipbody.outputs"
            },
            "description": "Array of VOD outputs"
          }
        }
      },
      "CreateVodClipbody.outputs": {
        "title": "Create_VOD_ClipBody.outputs",
        "required": [
          "label",
          "duration",
          "stream_start_time",
          "stream_end_time",
          "stream_start_timecode",
          "stream_end_timecode",
          "start_time",
          "end_time",
          "url",
          "credentials",
          "videocloud"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the output"
          },
          "duration": {
            "type": "number",
            "description": "Duration of the clip in seconds"
          },
          "stream_start_time": {
            "type": "number",
            "description": "Start time in seconds for the clip relative to the start time of the live stream"
          },
          "stream_end_time": {
            "type": "number",
            "description": "End time in seconds for the clip relative to the start time of the live stream"
          },
          "stream_start_timecode": {
            "type": "number",
            "description": "Start for the clip as an SMPTE timecode for the live stream"
          },
          "stream_end_timecode": {
            "type": "number",
            "description": "End for the clip as an SMPTE timecode for the live stream"
          },
          "start_time": {
            "type": "number",
            "description": "Start time for the clip in Epoch (Unix) time (seconds)"
          },
          "end_time": {
            "type": "number",
            "description": "End time for the clip in Epoch (Unix) time (seconds)"
          },
          "url": {
            "type": "string",
            "description": "URL for the clip"
          },
          "credentials": {
            "type": "string",
            "description": "The name of the credentials configured in your account for this address - A credential label for a valid client id + client secret should have been created when your Live account was set up, the credential label sent to you. If you do not have it, please Contact Brightcove Support"
          },
          "videocloud": {
            "description": "An object containing inputs for Video Cloud ingestion",
            "$ref": "#/components/schemas/CreateVodClipbody.outputs.videocloud"
          }
        }
      },
      "CreateVodClipbody.outputs.videocloud": {
        "title": "Create_VOD_ClipBody.outputs.videocloud",
        "required": [
          "video",
          "ingest"
        ],
        "type": "object",
        "properties": {
          "video": {
            "description": "An object containing inputs for Video Cloud video object creation - see the [CMS API Reference](https://brightcovelearning.github.io/Brightcove-API-References/cms-api/v1/doc/swagger.html#operations-Videos-CreateVideo)",
            "$ref": "#/components/schemas/CreateVodClipbody.outputs.videocloud.video"
          },
          "ingest": {
            "description": "An object containing inputs for Video Cloud video ingestion - see the [Dynamic Ingest Reference](https://brightcovelearning.github.io/Brightcove-API-References/dynamic-ingest-api/v1/doc/swagger.html#operations-Ingest-AccountsVideosIngestRequestsByAccountIdAndVideoIdPost) - do not include the master field, as that information will be provided by the Live API",
            "$ref": "#/components/schemas/CreateVodClipbody.outputs.videocloud.ingest"
          }
        }
      },
      "CreateVodClipbody.outputs.videocloud.video": {
        "title": "Create_VOD_ClipBody.outputs.videocloud.video",
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Title of the video clip"
          },
          "economics": {
            "description": "whether the video supports ads",
            "$ref": "#/components/schemas/Economics"
          },
          "tags": {
            "type": "object",
            "description": "Array of tags for the video - note that  tags are string that may not contain a comma"
          },
          "reference_id": {
            "type": "string",
            "description": "Reference id for the clip - must be unique within the account"
          },
          "description": {
            "type": "string",
            "description": "Video short description"
          },
          "state": {
            "description": "Whether the video should be active or inactive",
            "example": "ACTIVE",
            "$ref": "#/components/schemas/State"
          },
          "custom_fields": {
            "type": "object",
            "description": "An object whose properties are `fieldname`:`value` pairs - be sure to the *internal* name of the field"
          },
          "drm_disabled": {
            "type": "boolean",
            "description": "Use to disable DRM packaging for this video - applies only to DRM-enabled accounts"
          },
          "long_description": {
            "type": "string",
            "description": "A longer description of the video"
          },
          "cue_points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateVodClipbody.outputs.videocloud.video.cuePoint"
            },
            "description": "Array of cuepoint objects"
          },
          "geo": {
            "description": "map of geo-filtering properties",
            "$ref": "#/components/schemas/CreateVodClipbody.outputs.videocloud.video.geo"
          },
          "schedule": {
            "description": "map of scheduling properties",
            "$ref": "#/components/schemas/CreateVodClipbody.outputs.videocloud.video.schedule"
          }
        }
      },
      "Economics": {
        "title": "Economics",
        "enum": [
          "AD_SUPPORTED",
          "FREE"
        ],
        "type": "string",
        "example": "AD_SUPPORTED",
        "x-enum-elements": [
          {
            "name": "AD_SUPPORTED",
            "description": "Ad supported - this option can only be selected in the Brightcove account is ad-enabled"
          },
          {
            "name": "FREE",
            "description": "No ad support"
          }
        ]
      },
      "State": {
        "title": "State",
        "enum": [
          "ACTIVE",
          "INACTIVE"
        ],
        "type": "string",
        "example": "ACTIVE",
        "x-enum-elements": [
          {
            "name": "ACTIVE",
            "description": "Video is available for playback"
          },
          {
            "name": "INACTIVE",
            "description": "Video is not available for playback"
          }
        ]
      },
      "CreateVodClipbody.outputs.videocloud.video.cuePoint": {
        "title": "Create_VOD_ClipBody.outputs.videocloud.video.cue_point",
        "required": [
          "time",
          "type"
        ],
        "type": "object",
        "properties": {
          "time": {
            "type": "number",
            "description": "time of the cue point in seconds; example: 10.527"
          },
          "type": {
            "description": "cue point type",
            "example": "AD",
            "$ref": "#/components/schemas/Type"
          },
          "force-stop": {
            "type": "boolean",
            "description": "whether video is force-stopped at the cue point"
          },
          "metadata": {
            "type": "string",
            "description": "optional metadata string (512 single-byte characters maximum)"
          },
          "name": {
            "type": "string",
            "description": "cue point name"
          }
        }
      },
      "Type": {
        "title": "Type",
        "enum": [
          "AD",
          "CODE"
        ],
        "type": "string",
        "example": "AD",
        "x-enum-elements": [
          {
            "name": "AD",
            "description": "A cue point to trigger an add request"
          },
          {
            "name": "CODE",
            "description": "A code cue point to be handled by a script"
          }
        ]
      },
      "CreateVodClipbody.outputs.videocloud.video.geo": {
        "title": "Create_VOD_ClipBody.outputs.videocloud.video.geo",
        "required": [
          "countries",
          "exclude_countries",
          "restricted"
        ],
        "type": "object",
        "properties": {
          "countries": {
            "type": "string",
            "description": "array of ISO 3166 list of 2-letter codes(https://www.iso.org/obp/ui/#home) (search for &quot;country codes&quot;)"
          },
          "exclude_countries": {
            "type": "boolean",
            "description": "if true, country array is treated as a list of countries excluded from viewing"
          },
          "restricted": {
            "type": "boolean",
            "description": "whether geo-restriction is enabled for this video"
          }
        }
      },
      "CreateVodClipbody.outputs.videocloud.video.schedule": {
        "title": "Create_VOD_ClipBody.outputs.videocloud.video.schedule",
        "required": [
          "ends_at",
          "starts_at"
        ],
        "type": "object",
        "properties": {
          "ends_at": {
            "type": "string",
            "description": "end date-time of availability in ISO-8601(http://www.ecma-international.org/ecma-262/5.1/#sec-15.9.1.15) format"
          },
          "starts_at": {
            "type": "string",
            "description": "start date-time of availability in ISO-8601(http://www.ecma-international.org/ecma-262/5.1/#sec-15.9.1.15) format"
          }
        }
      },
      "CreateVodClipbody.outputs.videocloud.ingest": {
        "title": "Create_VOD_ClipBody.outputs.videocloud.ingest",
        "type": "object",
        "properties": {
          "profile": {
            "type": "string",
            "description": "The ingest profile to use - we recommend that you do **not** include this field and use the account default profile instead"
          },
          "capture-images": {
            "type": "boolean",
            "description": "Whether Video Cloud should capture poster and thumbnail images at the midpoint of the clip",
            "example": true
          },
          "callbacks": {
            "type": "array",
            "description": "An array of URLs that nofications for the ingest job should be sent to",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "VodJobs": {
        "title": "vod_jobs",
        "required": [
          "jvod_id",
          "label"
        ],
        "type": "object",
        "properties": {
          "jvod_id": {
            "type": "string",
            "description": "The clip job id"
          },
          "label": {
            "type": "string",
            "description": "The clip label (from the input)"
          }
        }
      },
      "CreateVodClip200": {
        "title": "Create_VOD_Clip200",
        "required": [
          "live_job_id"
        ],
        "type": "object",
        "properties": {
          "live_job_id": {
            "type": "string",
            "description": "The clip label (from the input)"
          }
        },
        "example": {
          "vod_jobs": [
            {
              "jvod_id": "9582606c50d84be5ad4bc104f2aa3360",
              "label": "last 60 secs of live job"
            }
          ],
          "live_job_id": "88ba5d87b61a4ef3a6dddabd0c38d319"
        }
      },
      "CreateCredentialbody": {
        "title": "Create_CredentialBody",
        "required": [
          "user_id",
          "credential_default_for_type",
          "credential_label",
          "credential_type",
          "credential_private",
          "credential_public"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "GUID for which the credentials are being created."
          },
          "credential_default_for_type": {
            "type": "boolean",
            "description": "Whether these are the default credentials for the request type"
          },
          "credential_label": {
            "type": "string",
            "description": "Label for the credential"
          },
          "credential_type": {
            "type": "string",
            "description": "The credential type",
            "enum": [
              "ftp",
              "oauth",
              "s3",
              "videocloud",
              "zencoder"
            ]
          },
          "credential_private": {
            "type": "string",
            "description": "Private key or password depending on the type"
          },
          "credential_public": {
            "type": "string",
            "description": "Public key or password depending on the type"
          },
          "oauth_settings": {
            "description": "OAuth settings for OAuth credentials needed to send notifications to a notification URL Required for oauth type credentials",
            "$ref": "#/components/schemas/CreateCredentialbody.oauthSettings"
          }
        }
      },
      "CreateCredentialbody.oauthSettings": {
        "title": "Create_CredentialBody.oauth_settings",
        "required": [
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "OAuth access token URL for OAuth credentials needed to send notifications to a notification URL"
          }
        }
      },
      "CreateCredential200": {
        "title": "Create_Credential200",
        "required": [
          "credential_id",
          "user_id"
        ],
        "type": "object",
        "properties": {
          "credential_id": {
            "type": "string",
            "description": "The credential id"
          },
          "user_id": {
            "type": "string",
            "description": "The user id"
          }
        }
      },
      "ListCredentials200": {
        "title": "List_Credentials200",
        "required": [
          "Array"
        ],
        "type": "object",
        "properties": {
          "Array": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Credentials"
            },
            "description": "of credentials objects"
          }
        }
      },
      "Credentials": {
        "title": "credentials",
        "required": [
          "credential_default_for_type",
          "user_id",
          "credential_private",
          "type",
          "label",
          "credential_id",
          "credential_public"
        ],
        "type": "object",
        "properties": {
          "credential_default_for_type": {
            "type": "boolean",
            "description": "The clip label (from the input)"
          },
          "user_id": {
            "type": "string",
            "description": "The user id"
          },
          "credential_private": {
            "type": "string",
            "description": "The private key for the credential (not shown; represented by asterisks)"
          },
          "type": {
            "type": "string",
            "description": "The credential type",
            "enum": [
              "ftp",
              "oauth",
              "s3",
              "videocloud",
              "zencoder"
            ]
          },
          "label": {
            "type": "string",
            "description": "The label used to reference the credential in requests"
          },
          "credential_id": {
            "type": "string",
            "description": "The credential id"
          },
          "credential_public": {
            "type": "string",
            "description": "The public key for the credential"
          }
        }
      },
      "UpdateCredentialbody": {
        "title": "Update_CredentialBody",
        "required": [
          "user_id",
          "credential_default_for_type",
          "credential_label",
          "credential_type",
          "credential_private",
          "credential_public"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "GUID for which the credentials are being created."
          },
          "credential_default_for_type": {
            "type": "boolean",
            "description": "Whether these are the default credentials for the request type"
          },
          "credential_label": {
            "type": "string",
            "description": "Label for the credential"
          },
          "credential_type": {
            "type": "string",
            "description": "The credential type",
            "enum": [
              "ftp",
              "oauth",
              "s3",
              "videocloud",
              "zencoder"
            ]
          },
          "credential_private": {
            "type": "string",
            "description": "Private key or password depending on the type"
          },
          "credential_public": {
            "type": "string",
            "description": "Public key or password depending on the type"
          },
          "oauth_settings": {
            "description": "OAuth settings for OAuth credentials needed to send notifications to a notification URL Required for oauth type credentials",
            "$ref": "#/components/schemas/UpdateCredentialbody.oauthSettings"
          }
        }
      },
      "UpdateCredentialbody.oauthSettings": {
        "title": "Update_CredentialBody.oauth_settings",
        "required": [
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "OAuth access token URL for OAuth credentials needed to send notifications to a notification URL"
          }
        }
      },
      "UpdateCredential200": {
        "title": "Update_Credential200",
        "required": [
          "credential_id",
          "user_id"
        ],
        "type": "object",
        "properties": {
          "credential_id": {
            "type": "string",
            "description": "The credential id"
          },
          "user_id": {
            "type": "string",
            "description": "The user id"
          }
        }
      },
      "ActivateSepStream200": {
        "title": "Activate_SEP_Stream200",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The job id for the stream that was activated"
          }
        }
      },
      "CancelLiveJob200": {
        "title": "Cancel_Live_Job200",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The job id for the stream that was stopped"
          }
        }
      },
      "CreateALiveJobbody": {
        "title": "Create_a_Live_JobBody",
        "required": [
          "live_stream",
          "region",
          "outputs"
        ],
        "type": "object",
        "properties": {
          "live_stream": {
            "type": "boolean",
            "description": "Indicates that the job is a live streaming job."
          },
          "region": {
            "type": "string",
            "description": "AWS region - you can also specify region as the alias for a list set up for the account by Brightcove Support. See [Supported AWS Regions] (https://support.brightcove.com/overview-brightcove-live-api#Support_aws_regions) for more details on the support in each region.",
            "enum": [
              "us-west-2",
              "us-east-1",
              "ap-southeast-2",
              "ap-northeast-1",
              "ap-southeast-1",
              "eu-central-1",
              "eu-west-1",
              "sa-east-1"
            ]
          },
          "rtmp_ip_whitelist": {
            "type": "array",
            "description": "Array of IP addresses white-listed for RTMP delivery",
            "items": {
              "type": "string"
            }
          },
          "channel_type": {
            "type": "string",
            "description": "Indicates whether the job should be billed as `event` hours or a channel (`24x7`) - see [Channels and Event Hours](https://support.brightcove.com/overview-brightcove-live-api#Channels_and_hours).",
            "default": "event",
            "enum": [
              "24x7",
              "event"
            ]
          },
          "hls_endlist": {
            "type": "boolean",
            "description": "Whether an `EXT-X-ENDLIST` tag should be added to the stream playlist when you stop the stream or the `reconnect_time` window has been reached. The `EXT-X-ENDLIST` tag indicates that no more Media Segments will be added to the Media Playlist file and helps prevent the player from displaying error messages when the stream stops.",
            "default": true
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateALiveJobbody.outputs"
            },
            "description": "Array of output specifications for live and VOD assets to be created from the live stream."
          },
          "ad_insertion": {
            "type": "boolean",
            "description": "Setting this parameter to true will enable server side ad insertion (SSAI) on the job. Current support includes, DFP, Freewheel, or any VAST 2.0/3.0 ad tags.",
            "default": false
          },
          "ad_audio_loudness_level": {
            "type": "number",
            "description": "Adjust the loudness level of the audio. This is measured in LUFS and specified in dB. This is useful to set the output loudness level to conform to a standard (-23dB for EBU R.128) The recommended setting is -23.",
            "minimum": -60,
            "maximum": 60
          },
          "beacon_set": {
            "type": "string",
            "description": "ID for a beacon set (for SSAI only)."
          },
          "reconnect_time": {
            "type": "integer",
            "description": "The time, in seconds, to wait for a stream to reconnect to the encoder. If the reconnect time passes without the stream reconnecting, the job will automatically finish.",
            "minimum": 1,
            "maximum": 7200,
            "default": 30
          },
          "slate": {
            "type": "string",
            "description": "Id for a set of slate assets"
          },
          "static": {
            "type": "boolean",
            "description": "Whether this is a static entry point (SEP) job",
            "default": false
          },
          "encryption": {
            "description": "Encryption to apply to the stream.",
            "$ref": "#/components/schemas/CreateALiveJobbody.encryption"
          },
          "event_length": {
            "type": "integer",
            "description": "Used to preset and define an end time for the live event. At any point within the specified `event_length` you may reconnect to your stream. The `event_length` setting goes into effect as soon as streaming begins.",
            "default": 0,
            "minimum": 0,
            "maximum": 93600
          },
          "live_dvr_sliding_window_duration": {
            "type": "integer",
            "description": "The time, in seconds, to keep in the live DVR manifest. If the stream duration is longer than the window duration, segment references will be removed first in first out. Default is 100 seconds. **Note: for SSAI jobs, the limit is `7200`.",
            "default": 100,
            "minimum": 0,
            "maximum": 86400
          },
          "live_dvr_ads_window_duration": {
            "type": "integer",
            "description": "The time, in seconds, to keep in the live DVR manifest. If the stream duration is longer than the window duration, segment references will be removed first in first out. Default is `100` seconds.",
            "default": 100,
            "minimum": 0,
            "maximum": 600
          },
          "max_hls_protocol_version": {
            "type": "integer",
            "description": "Sets the maximum HLS protocol version to use. Special features will be used as available. Default is `3`.",
            "default": 3,
            "minimum": 1,
            "maximum": 5
          },
          "notifications": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "string",
                      "description": "The type of event to send notifications for",
                      "enum": [
                        "state_changed",
                        "first_segment_uploaded",
                        "output_finished"
                      ]
                    }
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Array of notification destination objects or strings - notifications defined here are for job-level events.  A notification will be sent to the destination when selected event occurs. You can use a simple string with a url: &quot;http://log:pass@httpbin.org/post&quot;, or you can use an object. See [Events](https://support.brightcove.com/live-api-notifications#Events) for an explanation of the events reported in `state_changed` notifications."
          },
          "add_cdns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateALiveJobbody.addCdns"
            },
            "description": "Array of additional CDN providers to be used for manifest generation. For each CDN provided, the manifest will be prepended accordingly"
          }
        }
      },
      "CreateALiveJobbody.encryption": {
        "title": "Create_a_Live_JobBody.encryption",
        "required": [
          "method",
          "type"
        ],
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "description": "The encryption method to use.",
            "enum": [
              "aes-128"
            ]
          },
          "type": {
            "type": "string",
            "description": "The encryption type, depending on whether an internal or external key server will be used.",
            "enum": [
              "internal",
              "external"
            ]
          },
          "key": {
            "type": "string",
            "description": "The encryption key - either a `key`, `passphrase`, or `key_rotation` is required; if the type is `external`, `key` is required"
          },
          "passphrase": {
            "type": "string",
            "description": "The encryption key - either a `key`, `passphrase`, or `key_rotation` is required"
          },
          "key_rotation": {
            "type": "boolean",
            "description": "Whether to use key rotation - either a `key`, `passphrase`, or `key_rotation` is required",
            "default": false
          },
          "rotate_every": {
            "type": "integer",
            "description": "Interval for key rotation in video segments",
            "default": 10
          },
          "external_url": {
            "type": "string",
            "description": "The URL for the external encryption key - this field is required if you specify type as external, and the external key must match the `key` value"
          }
        }
      },
      "CreateALiveJobbody.addCdns": {
        "title": "Create_a_Live_JobBody.add_cdns",
        "required": [
          "label",
          "prepend",
          "protocol",
          "vendor"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "A label to identify the CDN."
          },
          "prepend": {
            "type": "string",
            "description": "CDN hostname to be prepended to addresses"
          },
          "protocol": {
            "type": "string",
            "description": "Protocol to use for the stream delivery",
            "enum": [
              "http",
              "https"
            ]
          },
          "vendor": {
            "type": "string",
            "description": "CDN vendor such as akamai"
          },
          "token_auth": {
            "$ref": "#/components/schemas/CreateALiveJobbody.addCdns.tokenAuth"
          }
        }
      },
      "CreateALiveJobbody.addCdns.tokenAuth": {
        "title": "Create_a_Live_JobBody.add_cdns.token_auth",
        "required": [
          "auth_type",
          "key",
          "token_name"
        ],
        "type": "object",
        "description": "Token authentication details",
        "properties": {
          "auth_type": {
            "type": "string",
            "description": "Token authentication type - currently, the only supported value is `Akamai2.0`"
          },
          "key": {
            "type": "string",
            "description": "Your Akamai token auth password"
          },
          "token_name": {
            "type": "string",
            "description": "Your Akamai token token name"
          },
          "media": {
            "$ref": "#/components/schemas/CreateALiveJobbody.addCdns.tokenAuth.media"
          }
        }
      },
      "CreateALiveJobbody.addCdns.tokenAuth.media": {
        "title": "Create_a_Live_JobBody.add_cdns.token_auth.media",
        "type": "object",
        "description": "Object containing tokenization properites",
        "properties": {
          "start_time": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string",
                "enum": [
                  "now"
                ]
              }
            ],
            "description": "The time to apply token auth - &quot;now&quot; or epoch time in seconds",
            "format": "int32",
            "default": "now"
          },
          "end_time": {
            "type": "integer",
            "description": "The time to end token auth, epoch time in seconds",
            "format": "int32"
          },
          "ttl": {
            "type": "integer",
            "description": "The time to live in seconds - either `end_time` or `ttl` is required",
            "format": "int32"
          }
        }
      },
      "CreateALiveJobbody.outputs": {
        "title": "Create_a_Live_JobBody.outputs",
        "required": [
          "label",
          "live_stream",
          "keyframe_interval",
          "video_bitrate",
          "audio_bitrate",
          "segment_seconds"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the live or VOD asset."
          },
          "live_stream": {
            "type": "boolean",
            "description": "For jobs, setting live_stream to true indicates the output is a live rendition. If live_stream is false, or is not set, the output will be treated as a VOD output."
          },
          "keyframe_interval": {
            "type": "integer",
            "description": "The maximum number of frames between each keyframe. If you set a low keyframe_interval it will increase the size / decrease the quality of your output file, but it will allow more precise scrubbing in most players. It’s recommended to have at least one keyframe per segment. If keyframe_interval is not provided, keyframes will follow the input GOP structure.",
            "minimum": 1,
            "maximum": 6000
          },
          "video_bitrate": {
            "type": "integer",
            "description": "target video bitrate in kbps",
            "minimum": 64,
            "maximum": 10000
          },
          "audio_bitrate": {
            "type": "number",
            "description": "An output bitrate setting for the audio track, in Kbps",
            "minimum": 16,
            "maximum": 1024
          },
          "segment_seconds": {
            "type": "number",
            "description": "Sets the maximum duration of each segment in a segmented output.",
            "minimum": 2,
            "maximum": 20
          },
          "duration": {
            "type": "integer",
            "description": "Clipping API option 1. Duration (in seconds) to clip back from Live. Note: Clipping API only requires one of the three options for specifying duration or time.",
            "minimum": 0,
            "maximum": 172800
          },
          "ad_audio_loudness_level": {
            "type": "number",
            "description": "Adjust the loudness level of the audio. This is measured in LUFS and specified in dB. This is useful to set the output loudness level to conform to a standard (-23dB for EBU R.128) The recommended setting is -23.",
            "minimum": -60,
            "maximum": 60
          },
          "stream_start_time": {
            "type": "integer",
            "description": "Clipping API option 2. An offset, in seconds, from the start of the live stream to mark the beginning of the clip. Note: Clipping API only requires one of the three options for specifying duration or time.",
            "minimum": 0,
            "maximum": 2147483647
          },
          "stream_end_time": {
            "type": "integer",
            "description": "Clipping API option 2. An offset, in seconds, from the start of the live stream to mark the end of the clip. Note: Clipping API only requires one of the three options for specifying duration or time."
          },
          "start_time": {
            "type": "integer",
            "description": "Clipping API option 3. Universal epoch time, in seconds, to mark the beginning of the clip. Note: Clipping API only requires one of the three options for specifying duration or time."
          },
          "end_time": {
            "type": "integer",
            "description": "Clipping API option 3. Universal epoch time, in seconds, to mark the end of the clip. Note: Clipping API only requires one of the three options for specifying duration or time."
          },
          "copy_video": {
            "type": "boolean",
            "description": "Specifying copy_video will take the video track from the input video file and transmux it into the resulting output file."
          },
          "copy_audio": {
            "type": "boolean",
            "description": "Specifying copy_audio will take the audio track from the input video file and transmux it into the resulting output file."
          },
          "skip_video": {
            "type": "boolean",
            "description": "Specifying skip_video removes the video track."
          },
          "skip_audio": {
            "type": "boolean",
            "description": "Specifying skip_audio removes the audio track."
          },
          "width": {
            "type": "integer",
            "description": "Video frame width. If no width is supplied, we will use 640 pixels.",
            "default": 640
          },
          "height": {
            "type": "integer",
            "description": "Video frame height. If no height is supplied, we will use 480 pixels.",
            "default": 480
          },
          "video_codec": {
            "type": "string",
            "description": "The output video codec. Note: Only `h264` is supported.",
            "enum": [
              "h264"
            ]
          },
          "h264_profile": {
            "type": "string",
            "description": "H.264 has three commonly-used profiles: Baseline (lowest), Main, and High. Lower levels are easier to decode, but higher levels offer better compression. For the best compression quality, choose High. For playback on low-CPU machines or many mobile devices, choose `baseline`.",
            "enum": [
              "baseline",
              "main",
              "high"
            ]
          },
          "audio_codec": {
            "type": "string",
            "description": "The output audio codec to use. Note: Only `aac` is supported.",
            "enum": [
              "aac"
            ]
          },
          "notifications": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "string",
                      "description": "The type of event to send notifications for",
                      "enum": [
                        "state_changed",
                        "first_segment_uploaded",
[...]
