.bcls-button {
    background-color: $bc-blue;
    border: 1px $gray-medium solid;
    border-radius: .5em;
    color: $gray-xxlight;
    cursor: pointer;
    font-size: .8em;
    font-weight: bold;
    padding: 1em;
    &:hover {
        background-color: $bc-blue-dark;
        border: 1px $bc-yellow-light solid;
        color: $bc-yellow-light;
    }
}
