<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Doc Conversion Guide</title>
        <script src="//use.edgefonts.net/source-code-pro.js"></script>
        <link rel="stylesheet" href="//learning-services-media.brightcove.com/doc-assets/js/prism/prism.css">
    <link rel="stylesheet" href="//docs.brightcove.com/en/styles/template/css/bcls-doc.css">
    <style>
        body {
            vertical-align: top;
            font-family: Arial, Helvetical, sans-serif;
            padding: 3em;
        }
        article {
            border-bottom: 1px #666 solid;
        }
    </style>
    </head>
    <body>
        <article>
            <header class="bcls-header">
                <h1>Doc Conversion Guide</h1>
                <p>Guide to converting docs to the new template. The general aim is to have the docs work on the current docs.brightcove.com site, but have all the content that needs to migrate to the new site wrapped in an &lt;article&gt; tag.</p>
                <p>Following the steps, there is a <a href="#style_reference">style reference</a> showing examples of the new styles.</p>
                <p>If you are using the team Dash snippets, see helpful new snippets under the <strong>template</strong> tag. Here is a <a href="#dashSnippets">reference for the available Dash snippets showing the code they produce</a>,</p>

            </header>
            <section id="Steps" class="bcls-section">
                <h2 class="bcls-section__title">Steps</h2>
                <h3>Preparation</h3>
                <ol class="bcls-tasklist">
                    <li>Sync BCL-developer-docs to make sure it's up to date.</li>
                    <li>Create a new branch for the doc you are going to convert so that you can fully test it locally before adding it to the Master branch (Bob, I know you don't work in Git that much, so get Matt or Jeff to show you what to do this if needed.)</li>
                    <li>Open the doc you're going to convert in your editor.</li>
                </ol>
                <h3>Use the new scripts and stylesheet</h3>
                <ol class="bcls-tasklist">
                    <li>In the &lt;head&gt; section of the doc, you need to replace some stylesheets and scripts. Find and delete all the tags following the &lt;title&gt; tag <strong>unless</strong> there is a &lt;style&gt; block. In that case, keep the &lt;style&gt; block, but please send me the URL for the page and the name of the Git branch, so I can decide what to do with the in-page styles.
                    </li>
                    <li>After the &lt;title&gt; tag, insert the following:
<pre class="line-numbers"><code class="language-html">&lt;link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" /&gt;
&lt;link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.css" /&gt;
&lt;link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'&gt;
&lt;script src="//use.edgefonts.net/source-code-pro.js"&gt;&lt;/script&gt;
&lt;link rel="stylesheet" href="//learning-services-media.brightcove.com/doc-assets/js/prism/prism.css"&gt;
&lt;link rel="stylesheet" href="//docs.brightcove.com/en/styles/template/css/bcls-doc.css"&gt;
&lt;link rel="stylesheet" href="/en/styles/foundation-fixes.css"&gt;

&lt;script&gt;
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-2728311-29', 'auto');
    ga('send', 'pageview');
&lt;/script&gt;
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/vendor/modernizr.js"&gt;&lt;/script&gt;</code></pre>
                    </li>
                    <li>Now look for the script tags at the bottom of the main content. You should see something like this:
<pre class="line-numbers"><code class="language-html">&lt;!-- bcl scripts --&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"&gt;&lt;/script&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"&gt;&lt;/script&gt;
...</code></pre>
                    </li>
                    <li>There may be JavaScript code specific to the page - if so, <strong>leave that</strong>, but delete all the other script tags.</li>
                    <li>Now add the following script tags:
                        <aside class="bcls-aside bcls-aside--warning">Use this code for sections using the new landing page scheme (e.g. brightcove-player - these will have the script tag &lt;script src="/en/scripts/<strong>bcls-doc-site-v1.js</strong>"&gt;&lt;/script&gt;)</aside>
<pre class="line-numbers"><code class="language-html">&lt;!-- bcl scripts --&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"&gt;&lt;/script&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js"&gt;&lt;/script&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"&gt;&lt;/script&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"&gt;&lt;/script&gt;
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"&gt;&lt;/script&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"&gt;&lt;/script&gt;
&lt;script src="/en/scripts/docs-nav-data.min.js"&gt;&lt;/script&gt;
&lt;script src="/en/scripts/<strong>bcls-doc-site-v2.js</strong>"&gt;&lt;/script&gt;
&lt;script src="//learning-services-media.brightcove.com/doc-assets/js/bcls-utils.js"&gt;&lt;/script&gt;
&lt;script src="//learning-services-media.brightcove.com/doc-assets/js/prism/prism.js"&gt;&lt;/script&gt;
&lt;script&gt;
    $(document).foundation();
&lt;/script&gt;
</code></pre>
<aside class="bcls-aside bcls-aside--warning">Use this code for sections using the old landing page layout (e.g. mobile-sdks - these will have the script tag &lt;script src="/en/scripts/<strong>bcls-doc-site.js</strong>"&gt;&lt;/script&gt;)</aside>
<pre class="line-numbers"><code class="language-html">&lt;!-- bcl scripts --&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"&gt;&lt;/script&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js"&gt;&lt;/script&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"&gt;&lt;/script&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"&gt;&lt;/script&gt;
&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"&gt;&lt;/script&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"&gt;&lt;/script&gt;
&lt;script src="/en/scripts/docs-nav-data.min.js"&gt;&lt;/script&gt;
&lt;script src="/en/scripts/bcls-doc-site-v0.js"&gt;&lt;/script&gt;
&lt;script src="//learning-services-media.brightcove.com/doc-assets/js/bcls-utils.js"&gt;&lt;/script&gt;
&lt;script src="//learning-services-media.brightcove.com/doc-assets/js/prism/prism.js"&gt;&lt;/script&gt;
&lt;script&gt;
    $(document).foundation();
&lt;/script&gt;
</code></pre>

                    </li>
                </ol>
                <h3>Wrap the main content in an <code class="language-html">&lt;article class="bcls-article"&gt;</code> tag</h3>
                <ol class="bcls-tasklist">
                    <li>The main contents of the page should all be included in <code class="language-html">&lt;div&gt;</code> tags that have the class <code>section</code> (there may be additional classes on some sections).</li>
                    <li>Select all the section blocks <strong>except</strong> the related topics section (that one will be included automatically in the new site, so we don't want to import it). Most of the related topics blocks will have the id <code>BCLReferences</code>, but not all - it should always be the last section div in the page, however.</li>
                    <li>Wrap all the content sections together in one <code class="language-html">&lt;article class="bcls-article"&gt;&lt;/article&gt;</code> tag.</li>
                </ol>
                <h3>Make the first section a <code class="language-html">&lt;header&gt;</code></h3>
                <ol class="bcls-tasklist">
                    <li>The first <code class="language-html">&lt;div&gt;</code> tag inside the article should have the attribute <code class="language-html">id="top"</code>.</li>
                    <li>Change this <code class="language-html">&lt;div&gt;</code> tag to a <code class="language-html">&lt;header&gt;</code> tag (remember to change the end tag as well as the start tag!).</li>
                    <li>Change the <code>id</code> from <code>top</code> to <code>bcls_header</code></li>
                    <li>Add the following attribute to the <code class="language-html">&lt;header&gt;</code> tag: <code>class="bcls-header"</code></li>
                </ol>
                <aside class="bcls-aside bcls-aside--warning">The class name is hyphenated (<code>bcls-header</code>); the id is camelcase (<code>bcls_header</code>).</aside>
                <h3>Convert section divs to section tags</h3>
                <ol class="bcls-tasklist">
                    <li>For each <code class="language-html">&lt;div&gt;</code> tag with a <code>section</code> class, change the tag from <code class="language-html">&lt;div&gt;</code> to <code class="language-html">&lt;section&gt;</code> (remember to change the end tag as well as the start tag!).</li>
                    <li>Also change the class name <code>section</code> to <code>bcls-section</code>. (You can use find/replace-all for that.)</li>
                    <li>If the section has the additional class <code>video-cloud-only</code> or <code>perform-only</code>, leave that class as is.</li>
                    <li>If there are additional classes <strong>besides</strong> <code>video-cloud-only</code> or <code>perform-only</code>, leave those class names as is, but send me the URL for the page so I can see if the additional class is needed and add it to the stylesheet.</li>
                </ol>
                <h3>Fix the asides</h3>
                <ol class="bcls-tasklist">
                    <li>Do a search on <code>class="BCL-aside"</code> to find all the asides.</li>
                    <li>If the element is a <code class="language-html">&lt;p&gt;</code> or <code class="language-html">&lt;div&gt;</code>, change it to an <code class="language-html">&lt;aside&gt;</code> tag and change the class to one of the 3 new <a href="#asides">aside types</a>. Note that the new asides include an icon, so beginning asides with "Note:" is redundant now.</li>
                    <li>If the <code>BCL-aside</code> class is applied to a <code class="language-html">&lt;li&gt;</code> or <code class="language-html">&lt;td&gt;</code> tag, remove the class from the tag and wrap the contents inside one of the 3 new <a href="#asides">aside types</a>.</li>
                </ol>
                <h3>Fix code blocks</h3>
                <ol class="bcls-tasklist">
                    <li>See the Dash snippets for code blocks above - they'll be helpful in the following steps.</li>
                    <li><code class="language-html">&lt;pre&gt;&lt;code&gt;</code> tags should be changed to: <code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-XXXX"&gt;</code>, where XXXX is the language code (for HTML that includes CSS and/or JavaScript code, you can just use <code class="language-html">language-html</code>). See codes for all supported languages here: <a href="http://prismjs.com/#languages-list">http://prismjs.com/#languages-list</a>. The ones you will use most often are:
                        <ul>
                            <li>html</li>
                            <li>css</li>
                            <li>javascript</li>
                            <li>http</li>
                            <li>json</li>
                            <li>swift</li>
                            <li>objectivec</li>
                            <li>java</li>
                            <li>bash</li>
                            <li>ruby</li>
                            <li>python</li>
                        </ul>
                        <p>There are Dash snippets for each of those.</p>
                        <aside class="bcls-aside bcls-aside--tip">For a code block without line numbers, just omit the <code class="language-html">class="line-numbers"</code> attribute. For no syntax highlighting, just omit the <code class="language-html">class="language-XXXX"</code> attribute.</aside>
                    </li>
                    <li>You can also use the <code class="language-html">class="language-XXXX"</code> attribute on inline <code class="language-html">&lt;code&gt;</code></li>
                </ol>
                <h3>Fix expander sections</h3>
                <p><strong>(applies only to some pages, mostly player samples)</strong></p>
                <ol class="bcls-tasklist">
                    <li>Find the <code class="language-html">&lt;h2 id="expanderHead"&gt;</code> tag(s) and change <code>id="expanderHead"</code> to <code>class="bcls-expander-head"</code></li>
                    <li>In the following <code class="language-html">&lt;div id="expanderContent" style="display:none"&gt;</code> tag, change <code>id="expanderContent"</code> to <code>class="bcls-expander-content"</code> and remove the <code>style="display:none"</code> attribute.</li>
                </ol>
                <h3>Fix images</h3>
                <ol class="bcls-tasklist">
                    <li>Find all <code class="language-html">&lt;img&gt;</code> tags in the doc.</li>
                    <li>For <strong>inline</strong> images, do nothing.</li>
                    <li>All block images need to be wrapped in a <code class="language-html">&lt;figure class="bcls-figure"&gt;</code> tag.
                    <aside class="bcls-aside bcls-aside--tip">If you are using the group Dash snippets, type <code>bcimg</code> to get a figure block - you will be promted to enter a description that will be used for the <code>alt</code> value as well as a numbered image caption. (Or type <code>bcimgnoborder</code> to get the same thing without the image border.)</aside>
                    </li>
                    <li>While you are there, if the image is a screenshot, check to make sure it's up to date.</li>
                </ol>
                <h3>Convert Task Steps</h3>
                <ol class="bcls-tasklist">
                    <li>If there are task steps in the document, give the <code class="language-html">&lt;ol&gt;</code> tags for the steps lists the class <code>bcls-tasklist</code> and <strong>remove any <code>start</code> attributes.</strong></li>
                </ol>
                <h3>Identify non-standard classes</h3>
                <ol class="bcls-tasklist">
                    <li>Search the doc for <code>class=</code>.</li>
                    <li>The only classes that should <strong>not</strong> start with <code>bcls-</code> are:
                    <ul>
                        <li>video-cloud-only</li>
                        <li>perform-only</li>
                        <li>Prism classes: <code>line-numbers</code> and <code>language=xxxx</code></li>
                        <li>classes for a sample in the page (requires a stylesheet for page -- but please let me know where you think this is necessary, so that I can look and decide if the styles should be added to the site stylesheet)</li>
                    </ul>
                    </li>
                    <li>If you see any other classes that don't begin with <code>bcls-</code>, send me the branch name so I can take a look.</li>
                </ol>
            </section>
        </article>
        <article>
            <header class="bcls-header" id="style_reference">
                <h1>Reference to the template styles</h1>
                <p>Reference for the style classes used in the new template. If you need additional classes, <strong>tell me!</strong></p>
            </header>
            <section id="classes" class="bcls-section">
                <h2>Article Header</h2>
                <header id="bcls_header" class="bcls-header">Header <code>&lt;header id="bcls_header" class="bcls-header"&gt;&lt;/header&gt;</code></header>
                <h2>Section</h2>
                <section id="Some_section" class="bcls-section">Section <code>&lt;section id="Some_section" class="bcls-section"&gt;&lt;/section&gt;</code></section>
                <h2 id="asides">Aside classes</h2>
                <aside class="bcls-aside bcls-aside--information">An <strong>information</strong> aside: <code>&lt;aside class="bcls-aside bcls-aside--information"&gt;&lt;/aside&gt;</code></aside>
                <aside class="bcls-aside bcls-aside--tip">A <strong>tip</strong> aside: <code>&lt;aside class="bcls-aside bcls-aside--tip"&gt;&lt;/aside&gt;</code></aside>
                <aside class="bcls-aside bcls-aside--warning">A <strong>warning</strong> aside: <code>&lt;aside class="bcls-aside bcls-aside--warning"&gt;&lt;/aside&gt;</code></aside>
                <h2>Expander</h2>
                <h2 class="bcls-expander-head">Expander heading <code>&lt;h2 class="bcls-expander-head"&gt;&lt;/h2&gt;</code></h2>
                <div class="bcls-expander-content">Expander Content <code>&lt;div class="bcls-expander-content"&gt;&lt;/div&gt;</code></div>
                <h2>FAQ (click on a question to see the answer)</h2>
                <p class="bcls-question">Question use <code>class="bcls-question"</code> on any block element</p>
                <p class="bcls-answer">Answer use <code>class="bcls-answer"</code> on any block element - current answer will close when another question is clicked</p>
                <p class="bcls-question">Question 2</p>
                <p class="bcls-answer">Answer 2 - current answer will close when another question is clicked</p>
                <h2>Images</h2>
                <h3>With border</h3>
                <figure class="bcls-figure">
                    <img class="bcls-image" src="../assets/sample-with-border.png" alt="image description">
                    <figcaption class="bcls-caption--image">image description</figcaption>
                </figure>
                <h3>No Border</h3>
                <figure class="bcls-figure">
                    <img class="bcls-image--no-border" src="../assets/sample-no-border.png" alt="image description">
                    <figcaption class="bcls-caption--image">image description</figcaption>
                </figure>
                <h2>Task List</h2>
                <h3>Task number 1</h3>
                <ol class="bcls-tasklist">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                </ol>
                <h3>Another task</h3>
                <ol class="bcls-tasklist">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                </ol>
                <p>
                    Code for task list:
                </p>
<pre class="line-numbers"><code class="language-html">&lt;h3&gt;Task Header&lt;/h3&gt;
&lt;ol class="bcls-tasklist"&gt;
    &lt;li&gt;&lt;/li&gt;
&lt;/ol&gt;</code></pre>
                <h2>Table</h2>
                <table class="bcls-table">
                    <caption class="bcls-caption--table">Table Caption (optional <code class="language-html">&lt;caption class="bcls-caption--table"&gt;</code>)</caption>
                    <thead class="bcls-table__head">
                        <tr>
                            <th>Table Header</th>
                            <th>Table Header</th>
                        </tr>
                    </thead>
                    <tbody class="bcls-table__body">
                        <tr>
                            <td>Table cell</td>
                            <td>Table cell</td>
                        </tr>
                        <tr>
                            <td>Table cell</td>
                            <td>Table cell</td>
                        </tr>
                    </tbody>
                </table>
                <h3>(table code)</h3>
<pre class="line-numbers"><code class="language-html">&lt;table class="bcls-table"&gt;
    &lt;caption class="bcls-caption--table"&gt;Table Caption (optional &lt;strong&gt;&lt;caption class="bcls-caption--table"&gt;&lt;/strong&gt;)&lt;/caption&gt;
    &lt;thead class="bcls-table__head"&gt;
        &lt;tr&gt;
            &lt;th&gt;Table Header&lt;/th&gt;
            &lt;th&gt;Table Header&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody class="bcls-table__body"&gt;
        &lt;tr&gt;
            &lt;td&gt;Table cell&lt;/td&gt;
            &lt;td&gt;Table cell&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Table cell&lt;/td&gt;
            &lt;td&gt;Table cell&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
                <h2>Code blocks</h2>
                <h3>Inline code</h3>
                <p>
                    Some text and then some code <code class="language-javascript">var now = new Date();</code> and then some more text. Inline code is done like this: <code class="language-html">&lt;code class="language-javascript"&gt;var now = new Date()&lt;/code&gt;</code>
                </p>
                <aside class="bcls-aside bcls-aside--tip">If the code block isn't any particular language (or not really code) just don't add the class attribute at all, and you'll just get the default styling from our stylesheet.</aside>
<pre class="line-numbers"><code class="language-html">&lt;p&gt;Ordinary code blocks get wrapped
in &lt;pre&gt;&lt;code class="language-XXXX"&gt;&lt;/code&gt;&lt;/pre&gt;
blocks like this one. See the Dash snippet list above for the common languages&lt;p&gt;
&lt;ul&gt;</code></pre>
                <h3>Auto-selected code</h3>
                <textarea class="bcls-code">textarea with class="bcls-code". The entire contents are automatically selected when the user clicks on it. Use only plain text in textareas. HTML will be rendered as code, e.g. &lt;textarea class="bcls-code"&gt;, which is ok if that's what you want - also, lines are wrapped; to create a linebreak, use &amp;#10; </textarea>
                <h2>Buttons</h2>
                <p><button class="bcls-button">Button</button> <code class="language-html">&lt;button class="bcls-button"&gt;&lt;/button&gt;</code></p>
            </section>
        </article>
        <article id="dashSnippets">
            <section>
                <h2>Dash snippets</h2>
                <table class="bcls-table" style="width:100%">
                    <caption class="bcls-caption--table">Dash Snippets</caption>
                    <thead class="bcls-table__head">
                        <tr>
                            <th>Snippet shortcut</th>
                            <th>Generated code</th>
                        </tr>
                    </thead>
                    <tbody class="bcls-table__body">
                        <tr>
                            <td>bcarticle</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;article class="bcls-article"&gt;
    &lt;header id="bcls_header" class="blcs-header"&gt;
        &lt;h1&gt;Doc Title&lt;/h1&gt;
        &lt;p&gt;This topic ...&lt;/p&gt;
    &lt;/header&gt;
&lt;/article&gt;</code></pre></td>
                        </tr>
                        <tr>
                            <td>bcsection</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;section id="" class="bcls-section"&gt;
    &lt;h2&gt;&lt;/h2&gt;
    &lt;p&gt;&lt;/p&gt;
&lt;/section&gt;</code></pre></td>
                        </tr>
                        <tr>
                            <td>bcinfo</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;aside class="bcls-aside bcls-aside--information"&gt;&lt;/aside&gt;</code></pre></td>
                        </tr>
                        <tr>
                            <td>cbcinfo</td>
                            <td><pre class="line-numbers"><code class="language-html">class="bcls-aside bcls-aside--information"</code></pre></td>
                        </tr>
                        <tr>
                            <td>bctip</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;aside class="bcls-aside bcls-aside--tip"&gt;&lt;/aside&gt;"</code></pre></td>
                        </tr>
                        <tr>
                            <td>cbctip</td>
                            <td><pre class="line-numbers"><code class="language-html">class="bcls-aside bcls-aside--tip"</code></pre></td>
                        </tr>
                        <tr>
                            <td>bcwarning</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;aside class="bcls-aside bcls-aside--warning"&gt;&lt;/aside&gt;"</code></pre></td>
                        </tr>
                        <tr>
                            <td>cbcwarning</td>
                            <td><pre class="line-numbers"><code class="language-html">class="bcls-aside bcls-aside--warning"</code></pre></td>
                        </tr>
                        <tr>
                            <td>bcbutton</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;button class="bcls-button"&gt;Button&lt;/button&gt;</code></pre></td>
                        </tr>
                        <tr>
                            <td>bcimg</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;figure class="bcls-figure"&gt;
    &lt;img class="bcls-image" src="" alt="My Image"&gt;
    &lt;figcaption class="bcls-caption--image"&gt;My Image&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre></td>
                        </tr>
                        <tr>
                            <td>bcimgnoborder</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;figure class="bcls-figure"&gt;
    &lt;img class="bcls-image--no-border" src="" alt="My Image"&gt;
    &lt;figcaption class="bcls-caption--image"&gt;My Image&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre></td>
                        </tr>
                        <tr>
                            <td>bctasklist</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;h3&gt;Task Header&lt;/h3&gt;
&lt;ol class="bcls-tasklist"&gt;
    &lt;li&gt;&lt;/li&gt;
&lt;/ol&gt;</code></pre></td>
                        </tr>
                        <tr>
                            <td>pchtml</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-html"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>phtml</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">class="language-html"</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pccss</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-css"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pcss</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">class="language-css"</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pcjs</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-javascript"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pjs</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">class="language-javascript"</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pchttp</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-http"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>phttp</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">class="language-http"</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pcljson</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-json"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pljson</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">class="language-json"</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pcswift</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-swift"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pswift</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">class="language-swift"</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pcobjc</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-objectivec"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pobjc</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">class="language-objectivec"</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pcjava</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-java"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pjava</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">class="language-java"</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pcbash</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-bash"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pcruby</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-ruby"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>pcpython</td>
                            <td>
                                <pre class="line-numbers"><code class="language-html">&lt;pre class="line-numbers"&gt;&lt;code class="language-python"&gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>bchighlight</td>
                            <td>
                                To highlight some text, <span class="bcls-highlight">wrap it in &lt;span class="bcls-highlight"&gt;&lt;/span&gt;</span>
                            </td>
                        </tr>
                        <tr>
                            <td>bctable</td>
                            <td><pre class="line-numbers"><code class="language-html">&lt;table class="bcls-table"&gt;
    &lt;caption class="bcls-caption--table"&gt;My Table&lt;/caption&gt;
    &lt;thead class="bcls-table__head"&gt;
        &lt;tr&gt;
            &lt;th&gt;Table Header&lt;/th&gt;
            &lt;th&gt;Table Header&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody class="bcls-table__body"&gt;
        &lt;tr&gt;
            &lt;td&gt;Table cell&lt;/td&gt;
            &lt;td&gt;Table cell&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Table cell&lt;/td&gt;
            &lt;td&gt;Table cell&lt;/td&gt;
        &lt;/tr&lt;
    &lt;/tbody&gt;
&lt;/table&gt;</code></pre></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </article>
        <script src="/en/scripts/expander-v2.js"></script>
        <script src="/en/scripts/faq.js"></script>
        <script src="/en/scripts/select-code.js"></script>
        <script src="//learning-services-media.brightcove.com/doc-assets/js/prism/prism.js"></script>
    </body>
</html>
