&lt;pre class="line-numbers">&lt;code class="language-html">&lt;/code>&lt;/pre>
class="language-html"
&lt;pre class="line-numbers">&lt;code class="language-css">&lt;/code>&lt;/pre>
class="language-css"
&lt;pre class="line-numbers">&lt;code class="language-javascript">&lt;/code>&lt;/pre>
class="language-javascript"
&lt;pre class="line-numbers">&lt;code class="language-http">&lt;/code>&lt;/pre>
class="language-http"
&lt;pre class="line-numbers">&lt;code class="language-swift">&lt;/code>&lt;/pre>
class="language-swift"
&lt;pre class="line-numbers">&lt;code class="language-objectivec">&lt;/code>&lt;/pre>
class="language-objectivec"
&lt;pre class="line-numbers">&lt;code class="language-java">&lt;/code>&lt;/pre>
class="language-java"
&lt;pre class="line-numbers">&lt;code class="language-bash">&lt;/code>&lt;/pre>
&lt;pre class="line-numbers">&lt;code class="language-ruby">&lt;/code>&lt;/pre>
&lt;pre class="line-numbers">&lt;code class="language-python">&lt;/code>&lt;/pre>
