/* override default styles for overlay */
.vjs-overlay,
.vjs-overlay.vjs-overlay-top {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    top: 0;
    background: none;
}
/* styles for iframe */
.vjs-overlay iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/* hide the overlay */
.hide-overlay .vjs-overlay {
  display: none;
}
/* hide controls */
.hide-controls.video-js .vjs-control-bar, .hide-controls .vjs-big-play-button {
    display: none;
}

/* set player size */
.video-js {
  width: 640px;
  height: 360px;
}
