* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

img, a img {
  outline: 0;
  border: 0
}

img {
  max-width: 100%;
  height: auto
}

.page-wrap {
  position: relative;
  padding: 20px 20px 50px 20px
}

.pen-description p code, .pen-description li code {
  color: #ccc
}

.pen-description a code {
  color: #76daff
}

.pen-description a:hover code {
  color: white;
}



body.layout-left .layout-change-links #left-layout svg, body.layout-top .layout-change-links #top-layout svg, body.layout-right .layout-change-links #right-layout svg {
  fill: #ccc
}

body {
  color: white
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 0 10px 0;
  font-weight: normal
}

h2, h3, h4, h5, h6 {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif
}

h3, .h3, dt {
  font-size: 1.4rem;
  font-weight: bold
}

.block-title {
  text-align: center;
  padding: 1em 0
}

p, pre, blockquote {
  margin: 0 0 1em 0
}

p:empty, pre:empty, blockquote:empty {
  display: none
}

a {
  text-decoration: none;
  color: #76daff
}

a:hover, a:focus, a:active {
  cursor: pointer;
  color: white
}

time {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 80%
}

.text ul, .text ol {
  margin: 0 0 1.5rem 0;
  padding: 0 0 0 1.5rem
}

.text ul li, .text ol li {
  margin: 0 0 0.5rem 0
}

.text table {
  border-collapse: collapse;
  margin: 0 0 1rem 0
}

.text table th, .text table td {
  padding: 3px 8px;
  border: 1px solid #666
}

.text>p:last-child {
  margin-bottom: 0
}



.pen-description p code, .pen-description li code {
  color: #ccc
}

.pen-description a code {
  color: #76daff
}

.pen-description a:hover code {
  color: white
}



.comment-text p code, .pen-description p code {
  padding: 2px 5px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.2)
}

.pen-grid, .projects-grid {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

@media (max-width: 550px) {
  .pen-grid, .projects-grid {
    display: block !important
  }
}

.all-similar-pens .single-pen {
  width: auto
}

.single-project, .single-pen {
  width: 32%;
  border: 5px solid #2f2f31;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 2% 25px 0;
  position: relative;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.28)
}

html.safari10 .organize-pen-grid .single-project, html.safari10 .organize-pen-grid .single-pen {
  width: 31%
}

.single-project.single-pen-fpo, .single-pen.single-pen-fpo {
  opacity: 0
}

.single-project:nth-child(3n), .single-pen:nth-child(3n) {
  margin-right: 0
}

@media (max-width: 830px) {
  .single-project, .single-pen {
    width: 49%
  }
  .single-project:nth-child(3n), .single-pen:nth-child(3n) {
    margin-right: 2%
  }
  .single-project:nth-child(2n), .single-pen:nth-child(2n) {
    margin-right: 0
  }
}

@media (max-width: 550px) {
  .single-project, .single-pen {
    width: 100%;
    margin-right: 0 !important
  }
}

.logged-in .home-picked-pens-grid .single-project, .logged-in .home-picked-pens-grid .single-pen {
  width: 49%
}

.logged-in .home-picked-pens-grid .single-project:nth-child(3n), .logged-in .home-picked-pens-grid .single-pen:nth-child(3n) {
  margin-right: 2%
}

.logged-in .home-picked-pens-grid .single-project:nth-child(2n), .logged-in .home-picked-pens-grid .single-pen:nth-child(2n) {
  margin-right: 0
}

@media (max-width: 550px) {
  .logged-in .home-picked-pens-grid .single-project, .logged-in .home-picked-pens-grid .single-pen {
    width: 100%;
    margin-right: 0
  }
}



.iframe-wrap, .thumbnail-wrap {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden
}

.iframe-wrap iframe, .thumbnail-wrap iframe {
  width: 201%;
  height: 201%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition: opacity 0.4s ease;
  opacity: 0;
  visibility: hidden
}

.iframe-wrap.loaded iframe, .featured-pen .iframe-wrap iframe, .thumbnail-wrap.loaded iframe, .featured-pen .thumbnail-wrap iframe {
  visibility: visible;
  opacity: 1
}



.single-project .stats, .single-pen .stats {
  background: #2f2f31
}

.single-project .stats::after, .single-pen .stats::after {
  background: linear-gradient(to right, rgba(47, 47, 49, 0), #2f2f31 80%)
}

.stats {
  position: absolute;
  right: 0;
  bottom: 4px
}

.stats .single-stat, .stats .single-stat.comments {
  display: inline-block;
  height: 100%;
  text-align: center;
  padding: 0 7px 0 9px;
  margin-left: -6px;
  font-size: 13px
}

@media (max-width: 830px) {
  .stats .single-stat, .stats .single-stat.comments {
    padding-top: 2px
  }
}

@media (max-width: 550px) {
  .stats .single-stat, .stats .single-stat.comments {
    padding-top: 3px
  }
}

.stats .single-stat:last-child, .stats .single-stat.comments:last-child {
  margin-right: 0
}

.stats .single-stat:not(.loves) svg, .stats .single-stat.comments:not(.loves) svg {
  fill: #999999
}

.stats::after {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 30px;
  height: 100%
}

.stats svg {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
  margin-left: 2px
}

.stats svg.icon-eye {
  top: -2px;
  width: 17px
}

.stats svg.icon-heart {
  width: 13px
}

.stats .loves {
  position: relative
}

.stats .loves::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.stats .loves .icon-heart {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.25s linear
}

@media (max-width: 550px) {
  .stats {
    line-height: 2.3
  }
}

.meta-overlay pre {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 0.9rem
}

.meta-overlay code, .comment-text code, .pen-description code {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 85%;
  text-transform: none
}

.meta-overlay p code, .meta-overlay li code, .comment-text p code, .comment-text li code, .pen-description p code, .pen-description li code {
  margin: 0 2px
}

.meta-overlay pre {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 0.9rem
}

.meta-overlay code, .comment-text code, .pen-description code {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 85%;
  text-transform: none
}

.meta-overlay p code, .meta-overlay li code, .comment-text p code, .comment-text li code, .pen-description p code, .pen-description li code {
  margin: 0 2px
}

.iframe-wrap>.meta-overlay, .thumbnail-wrap>.meta-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px 15px 0 15px;
  opacity: 0;
  transition: opacity 0.15s ease;
  background: rgba(68, 68, 68, 0.95)
}

.iframe-wrap>.meta-overlay:hover, .iframe-wrap>.meta-overlay:focus, .thumbnail-wrap>.meta-overlay:hover, .thumbnail-wrap>.meta-overlay:focus {
  opacity: 1
}

.iframe-wrap>.meta-overlay:focus-within, .thumbnail-wrap>.meta-overlay:focus-within {
  opacity: 1
}

.iframe-wrap>.meta-overlay h2, .thumbnail-wrap>.meta-overlay h2 {
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0;
  margin: 0 0 5px 0;
  color: #76daff
}

.iframe-wrap>.meta-overlay p, .iframe-wrap>.meta-overlay li, .thumbnail-wrap>.meta-overlay p, .thumbnail-wrap>.meta-overlay li {
  color: #f5f5f5;
  margin: 0 0 5px 0
}

.iframe-wrap>.meta-overlay a, .thumbnail-wrap>.meta-overlay a {
  color: white
}

.iframe-wrap>.meta-overlay .pen-actions, .iframe-wrap>.meta-overlay .project-actions, .thumbnail-wrap>.meta-overlay .pen-actions, .thumbnail-wrap>.meta-overlay .project-actions {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding-bottom: 10px;
  left: 0;
  width: 101%;
  text-align: center;
  border-bottom: 3px solid #0ebeff
}

.iframe-wrap>.meta-overlay .project-actions, .thumbnail-wrap>.meta-overlay .project-actions {
  border-bottom: 3px solid #ffdd40
}

.cover-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 0 !important;
  z-index: 1
}

.cover-link:hover~.meta-overlay {
  opacity: 1
}

.meta {
  background: #2f2f31;
  position: relative;
  font-size: 0.85em;
  white-space: nowrap;
  padding: 8px 10px 4px;
  z-index: 3
}

.no-user-line .meta {
  padding: 12px 10px 10px
}

.meta .item-title {
  color: #999999;
  font-size: 1rem;
  margin: 4px 0 12px 0;
  text-overflow: ellipsis;
  overflow: hidden
}

.meta img {
  vertical-align: middle;
  position: relative;
  top: -1px;
  border: 0;
  margin: 0 3px 0 0
}

.meta a, .meta button {
  color: #999;
  transition: 0.2s
}

.meta a:hover, .meta button:hover {
  color: #cccccc
}

.meta .user-and-stats {
  white-space: nowrap
}

.meta .user {
  padding: 0 5px 0 0
}

.meta .user .username {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.meta .user .username img {
  width: 20px;
  height: 20px
}

.single-item .meta {
  border-top: 3px solid transparent
}

.single-post:hover .meta {
  border-top-color: #47cf73
}

.single-collection:hover .meta {
  border-top-color: #ae63e4
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background: #191919
}
