

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

img, a img {
  outline: 0;
  border: 0
}

.page-wrap {
  position: relative;
  padding: 20px 20px 50px 20px
}

img {
  max-width: 100%;
  height: auto
}

.meta-overlay pre {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 0.9rem
}

.pen-description p code, .pen-description li code {
  color: #ccc
}

.pen-description a code {
  color: #76daff
}

.pen-description a:hover code {
  color: white
}

.meta-overlay code, .comment-text code, .pen-description code {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 85%;
  text-transform: none
}

.meta-overlay p code, .meta-overlay li code, .comment-text p code, .comment-text li code, .pen-description p code, .pen-description li code {
  margin: 0 2px
}


body.layout-left .layout-change-links #left-layout svg, body.layout-top .layout-change-links #top-layout svg, body.layout-right .layout-change-links #right-layout svg {
  fill: #ccc
}

body {
  color: white
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 0 10px 0;
  font-weight: normal
}

h2, h3, h4, h5, h6 {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif
}

h3, .h3, dt {
  font-size: 1.4rem;
  font-weight: bold
}

.block-title {
  text-align: center;
  padding: 1em 0
}

p, pre, blockquote {
  margin: 0 0 1em 0
}

p:empty, pre:empty, blockquote:empty {
  display: none
}

a {
  text-decoration: none;
  color: #76daff
}

a:hover, a:focus, a:active {
  cursor: pointer;
  color: white
}

time {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 80%
}


.text ul, .text ol {
  margin: 0 0 1.5rem 0;
  padding: 0 0 0 1.5rem
}

.text ul li, .text ol li {
  margin: 0 0 0.5rem 0
}

.text table {
  border-collapse: collapse;
  margin: 0 0 1rem 0
}

.text table th, .text table td {
  padding: 3px 8px;
  border: 1px solid #666
}

.text>p:last-child {
  margin-bottom: 0
}

.meta-overlay pre {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 0.9rem
}

.pen-description p code, .pen-description li code {
  color: #ccc
}

.pen-description a code {
  color: #76daff
}

.pen-description a:hover code {
  color: white
}

.meta-overlay code, .comment-text code, .pen-description code {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 85%;
  text-transform: none
}

.meta-overlay p code, .meta-overlay li code, .comment-text p code, .comment-text li code, .pen-description p code, .pen-description li code {
  margin: 0 2px
}

.comment-text p code, .pen-description p code {
  padding: 2px 5px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.2)
} */
