

pre.fragment {
        padding: 4px 6px;
        margin: 4px 8px 4px 2px;
        overflow: auto;
        word-wrap: break-word;
        font-size:  9pt;
        line-height: 125%;
        font-family: monospace, fixed;
        font-size: 105%;
}

div.fragment {
        padding: 4px;
        margin: 4px;
}

div.line {
	font-family: monospace, fixed;
        font-size: 13px;
	min-height: 13px;
	line-height: 1.0;
	text-wrap: unrestricted;
	white-space: -moz-pre-wrap; 
	white-space: -pre-wrap;     
	white-space: -o-pre-wrap;   
	white-space: pre-wrap;      
	word-wrap: break-word;      
	text-indent: -53px;
	padding-left: 53px;
	padding-bottom: 0px;
	margin: 0px;
	-webkit-transition-property: background-color, box-shadow;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: background-color, box-shadow;
	-moz-transition-duration: 0.5s;
	-ms-transition-property: background-color, box-shadow;
	-ms-transition-duration: 0.5s;
	-o-transition-property: background-color, box-shadow;
	-o-transition-duration: 0.5s;
	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
}

div.line.glow {
	background-color: cyan;
	box-shadow: 0 0 10px cyan;
}


span.lineno {
	padding-right: 4px;
	text-align: right;
	border-right: 2px solid #0F0;
        white-space: pre;
}

div.groupHeader {
	margin-left: 16px;
	margin-top: 12px;
	font-weight: bold;
}

div.groupText {
	margin-left: 16px;
	font-style: italic;
}


td.indexkey {
	background-color: #EBEFF6;
	font-weight: bold;
	border: 1px solid #C4CFE5;
	margin: 2px 0px 2px 0;
	padding: 2px 10px;
        white-space: nowrap;
        vertical-align: top;
}

td.indexvalue {
	background-color: #EBEFF6;
	border: 1px solid #C4CFE5;
	padding: 2px 10px;
	margin: 2px 0px;
}

tr.memlist {
	background-color: #EEF1F7;
}

p.formulaDsp {
	text-align: center;
}

img.formulaDsp {
	
}

img.formulaInl {
	vertical-align: middle;
}

div.center {
	text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
}

div.center img {
	border: 0px;
}

address.footer {
	text-align: right;
	padding-right: 12px;
}

img.footer {
	border: 0px;
	vertical-align: middle;
}


span.keyword {
	color: #008000
}

span.keywordtype {
	color: #604020
}

span.keywordflow {
	color: #e08000
}

span.comment {
	color: #800000
}

span.preprocessor {
	color: #806020
}

span.stringliteral {
	color: #002080
}

span.charliteral {
	color: #008080
}

span.vhdldigit { 
	color: #ff00ff 
}

span.vhdlchar { 
	color: #000000 
}

span.vhdlkeyword { 
	color: #700070 
}

span.vhdllogic { 
	color: #ff0000 
}




div.col-sm-12.panel.panel-default
{
    border-color: #0094BD;
}

a:link, a:visited
{
    color: #0094BD;
}

a:hover, a:active
{
    color: #00ABD5;
    text-decoration: none;
}

.directory.table.table-striped
{
    border-top: solid #0094BD 1px;
}
.entry, .desc
{
    border-top: solid #0094BD 1px;
    border-bottom: solid #0094BD 1px;
}

.icon
{
    display: inline-block;
    border-radius: 10px;
    background-color: #4F4E52;
    color: #FFF;
    padding-right: 2px;
    padding-left: 4px;
    width: 20px;
    margin-right: 6px;
    margin-left: 4px;
    font-size: 10px;
}

.modal
{
    display: none;
   	position: fixed;
	margin: auto;
	z-index: 1;
   	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content
{
    background-color: #FEFEFE;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close
{
	color: rgba(0,0,0,1.0);
    color: #4F4E52;
   	float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover, .close:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#searchCapsule
{
    float: right;
    margin-bottom: 2px;
}

#inputTxt
{
    background-color: #FFF;
    color: #4F4E52;
    border-color: #4F4E52;
    height: 22px;
    font-size: 16px;
    border-radius: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    margin-bottom: 2px;
}

#searchButton
{
    background-color: rgba(0, 0, 0, 0.0);
    color: #4F4E52;
    border: none;
    height: 22px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
}
