.bcls-article {
    color: $text;
    font-family: $font;
    & a:hover {
        text-decoration: underline;
    }
    & code {
        background:none;
        border: none;
        font-family: 'Source Code Pro', monospace;
        font-size: 1rem;
    }
}
