.bcls-aside {
    padding: .5em .5em .5em 2.7em;
    margin-bottom: 1em;
    border-radius: .3em;
    &--information {
        background-color: lighten($bc-orange-light, 35%);
        border: 1px $bc-orange-light solid;
        color: darken($bc-orange-light, 40%);
        &:before {
            content: url(../assets/aside-icons/info.png);
            margin-left: -2.5em;
            float: left;
        }
        & a {
            color: $bc-orange;
        }
    }
    &--tip {
        background-color: lighten($bc-green-light, 30%);
        color: darken($bc-green-dark, 20%);
        border: 1px $bc-green-dark solid;
        &:before {
            content: url(../assets/aside-icons/check.png);
            margin-left: -2.5em;
            float: left;
        }
        & a {
            color: $bc-green;
        }
    }
    &--warning {
        background-color: lighten($bc-pink-light, 40%);
        color: darken($bc-pink-dark, 20%);
        border: 1px $bc-pink-dark solid;
        &:before {
            content: url(../assets/aside-icons/caution.png);
            margin-left: -2.5em;
            float: left;
        }
        & a {
            color: $bc-pink;
        }
    }
}
