.bcls-aside {
    padding: .5em .5em .5em 2.1em;
    margin-bottom: 1em;
    border-radius: .3em;
    &--information {
        background-color: lighten($bc-yellow-light, 20%);
        border: 1px $bc-yellow-light solid;
        color: darken($bc-yellow-light, 40%);
        &:before {
            content: url(../assets/aside-icons/info.png) "Note: ";
            margin-left: -2em;
            font-weight: bold;
        }
    }
    &--tip {
        background-color: lighten($bc-green-light, 30%);
        color: darken($bc-green-dark, 20%);
        border: 1px $bc-green-dark solid;
        &:before {
            content: url(../assets/aside-icons/tip.png) "Tip: ";
            margin-left: -2em;
            font-weight: bold;
        }
    }
    &--warning {
        background-color: lighten($bc-pink-light, 40%);
        color: darken($bc-pink-dark, 20%);
        border: 1px $bc-pink-dark solid;
        &:before {
            content: url(../assets/aside-icons/warning.png) "Warning: ";
            margin-left: -2em;
            font-weight: bold;
        }
    }
}
