.bcls-button {
    background-color: $gray-xlight;
    @include gradient-linear();
    border: 1px $gray-medium solid;
    border-radius: .5em;
    cursor: pointer;
    font-weight: bold;
    padding: 1em;
}
