code {
    color: $bc-orange-dark;
    font-family: $font-mono;
    font-size: inherit;
    font-weight: bold;
}
pre, .bcls-code {
    border-left: .5em solid $bc-indigo-dark;
    background-color: $pre-color;
    font-family: $font-mono;
    font-size: .9em;
    padding: 1em;
    margin-bottom: 1em;
    tab-size: 4;
    white-space: pre-wrap;
    width: 98%;
    @include shadow();
    code {
        font-weight: normal;
    }
}
