code {
    color: $bc-orange-dark;
    font-family: $font-mono;
    font-size: inherit;
    font-weight: bold;
}
.bcls-pre {
    border-left: .5em solid $bc-indigo-dark;
    background-color: $pre-color;
    font-family: $font-mono;
    padding: 1em;
    margin-bottom: 1em;
    @include shadow();
    code {
        font-weight: normal;
    }
}
