code {
    color: $bc-orange-dark;
    font-family: $font-mono;
    font-size: inherit;
    font-weight: 500;
}

pre,
.line-numbers {
    border: $bc-blue-light 1px solid;
    border-left: $bc-blue-light 10px solid;
    font-family: $font-mono;
    font-size: .8em;
    padding: 2em .5em;
    tab-size: 4;
    white-space: pre-wrap;
    width: 100%;
    code {
        font-weight: normal;
    }
}

.bcls-code {
    background-color: $pre-yellow;
    border: $bc-blue-light 1px solid;
    border-left: $bc-blue-light 10px solid;
    font-family: $font-mono;
    font-size: .9em;
    min-height: 6em;
    padding: 1em .5em;
    tab-size: 4;
    white-space: pre-wrap;
    width: 100%;
    code {
        font-weight: normal;
    }
}
