.bcls-section {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
        padding-top: 1.5em;
        margin-top: -1.5em;
        z-index: -1;
    }
    h3 {
        font-size: 2em;
        padding-top: 1.5em;
        margin-top: -1.5em;
        z-index: -1;
    }
    h4 {
        font-size: 1.5em;
    }
    a {
        color: $bc-indigo-light;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .bcls-section__title {
    color: $text-dark;
    }
}
section {
    display: block;
}
