
/* Gets used in index.html for iframe */

.leftHomeBanner
{
    background: #4B4E53;
    display: block;
    width: 100%;
    text-align: left;
    line-height: 40px;
}

.homeBanner
{
    background: #4B4E53;
    font-family: "Arial", Bold;
    font-size: 150%;
}

.homeBanner a:link, a:visited, a:hover, a:active
{
    color: #FFF;
    text-decoration: none;
}

.theIframe
{
    border: 0;
    width: 100%;
    margin: 0px;
}