
/* Gets used in land.html */

body
{
     background: url(Cloud.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}

a:link
{
    text-decoration: none;
    color: #FFFFFF;
}

a:visited
{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover
{
    text-decoration: none;
    color: #FFFFFF;
}

a:active
{
    text-decoration: none;
    color: #FFFFFF;
}

.btn, .btn-info, .btn-lg
{
    background: #0094BD; /*background-color: #00ABD5;*/
    color: #FFFFFF;
    width: 250px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    
}

.jumbotron
{
    margin: auto;
    width: 1040px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: #EEEEEE;
}

/* Table properties */

table
{
    width: 800px;
    margin: auto;
    /*background: #F00;*/
}

td
{
    padding-right: 0px;
}

tr.applySpace > td
{
  padding-top: 20px;
}

.dummy
{
    background: #EEEEEE;
    width: 250px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    
}

#releaseNotesBlock
{
    background-color: rgba(0, 148, 189, 0.9);
    text-align: center;
}

.relNoteLink
{
    margin-top: 4px;
    margin-bottom: 4px;
}
