.bcls-aside {
    padding: 1em;
    margin-bottom: 1em;
    &--information {
        background-color: lighten($bc-blue-light, 30%);
        color: darken($bc-blue-dark, 15%);
    }
    &--tip {
        background-color: lighten($bc-green-light, 30%);
        color: darken($bc-green-dark, 20%);
    }
    &--warning {
        background-color: lighten($bc-pink-light, 40%);
        color: darken($bc-pink-dark, 20%);
    }
}
