.bcls-aside {
    padding: 1em;
    margin-bottom: 1em;
    &--information {
        background-color: lighten($bc-blue-light, 30%);
        color: darken($bc-blue-dark, 15%);
        &:before {
            content: "Note: ";
        }
    }
    &--tip {
        background-color: lighten($bc-green-light, 30%);
        color: darken($bc-green-dark, 20%);
        &:before {
            content: "Tip: ";
        }
    }
    &--warning {
        background-color: lighten($bc-pink-light, 40%);
        color: darken($bc-pink-dark, 20%);
        &:before {
            content: "Warning: ";
        }
    }
}
