.bcls-footer {
    background-color: $text-dark;
    bottom: 0;
    font-family: $font;
    height: 2em;
    left: 0;
    line-height: 1.2em;
    padding-top: .5em;
    position: fixed;
    text-align: center;
    width: 100%;
    a {
        color: $gray-xxlight;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
