.bcls-table {
    border-collapse: collapse;
    border: $border-standard;
    .bcls-table__head {
        background-color: $gray-xlight;
        th {
            border: $border-standard;
            padding: .5em;
        }
    }
    .bcls-table__body {
        td {
            border: $border-standard;
            padding: .5em;
        }
    }
}
