/* * The body style is just for the
 * background color of the codepen.
 * Do not include in your code.
 */
body {
  background-color: #111;
  color: #f5f5f5;
  font-family: sans-serif;
  margin: 2em;
}
/*
 * Styles essential to the sample
 * are below
 */
.bcls-code {
  color: #111;
  font-family: 'Source Code Pro',monospace;
  padding: 1em;
  width: 90%;
  min-height: 5em;
  background-color: #cfcfcf;
  font-size: 1rem;
}
.bcls-button {
  padding: .5em;
  background-color: #333;
  border: 1px yellow solid;
  border-radius: .5em;
  color: yellow;
  cursor: pointer;
}
fieldset {
  color: #64AAB2;
  border: 1px #64AAB2 solid;
  border-radius: .5em;
}
code {
  color: #E4B842;
  font-family: 'Source Code Pro',monospace;
}

a {
  color: #F3951D;
}

.bcls-caption--table {
  font-size: .7em; }

.bcls-caption--table:before {
  counter-increment: table;
  content: "Table " counter(table) ": "; }

.bcls-table {
  border-collapse: collapse;
  border: 1px #ccc solid; }
.bcls-table .bcls-table__head {
  background-color: #ddd; }
  .bcls-table .bcls-table__head th {
    border: 1px #ccc solid;
    padding: .5em;
  color: #666; }
.bcls-table .bcls-table__body td {
  border: 1px #ccc solid;
  padding: .5em; }
