// main: ../bcls-doc.less

.bcls-article {
    counter-reset: figure 0 table 0 step 0;
    color: @gray-dark;
    font-family: @font;

    & a:hover {
        text-decoration: underline;
    }
}

body {
    font-family: @font;
    font-size: 1.1em;
}

blockquote {
    font-size: inherit;
}

a {
    color: #2A5DB0;
}
