.player-outer-block {
  position: static;
  height: 270px;
  width: 480px;
  min-height: 270px;
}
.player-block {
  position: relative;
}
.BrightcoveExperience {
  position: absolute;
}
#carousel-outer-container {
  position: absolute;
  width: 480px;
  height: 270px;
  background-color: #090909;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090909), to(#303233));
  background-image: -webkit-linear-gradient(top, #090909, #303233);
  background-image: -moz-linear-gradient(top, #090909, #303233);
  background-image: -o-linear-gradient(top, #090909, #303233);
  background-image: -ms-linear-gradient(top, #090909, #303233);
  background-image: linear-gradient(top, #090909, #303233);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#090909', EndColorStr='#303233');
}
#feature-carousel-container {
  background-color: #000;
  border: none;
  margin-bottom: 0 !important;
  padding: 5px;
}
.carousel {
  margin: 0 !important;
}
#replay{
  font-size: x-small;
  color: #F5F5F5;
  text-decoration: underline;
  margin-right: 20px;
}
#carousel-left img {
  position: relative;
  left: -200px;
  top: 20px;
}
#carousel-right img {
  position: relative;
  left: 200px;
  top: 20px;
}
#carousel-outer-container h3 {
  color: #F5F5F5;
  font-size: 100%;
  margin-left: 10px;
  margin-top: 10;
  margin-bottom: 20;
  height: 25px;
  line-height: 30px;
}
div.carousel-caption {
  padding: 0;
  width: 200px;
  height: 30px;
  opacity: 70% !important;
}
div.carousel-caption p {
  font-size: xx-small !important;
  padding: 0;
}
.tracker-summation-container {
  top: 160px
}
.carousel-feature img {
  cursor: pointer;
}