.oo-player-container {

  .oo-start-screen-linear-gradient {
    /*display: none;*/
  }

  .oo-player-container .oo-state-screen .oo-action-icon span.oo-icon {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    transition: all 250ms;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

  }

  .oo-control-bar-items-wrapper a {
    margin: 0;
  }

  .ooyala-small,
  .ooyala-xsmall {
    .oo-text-track-container .oo-text-track-window .oo-text-track-background .oo-text-track {
      font-size: 0.75rem;
    }
  }

  .oo-share-tab-panel  {
    a {
      font-size: 38px;
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      -ms-transition: all 250ms;
      transition: all 250ms;

      &:hover {
        text-shadow: 0 0 20px rgba(255,255,255,1);
      }

    }

    .oo-twitter {
      background-image: none;
      width: auto;
      height: auto;

      &:before {
        content: "\f099";
        font-family: fontawesome;
      }
    }
    .oo-facebook {
      background-image: none;
      width: auto;
      height: auto;

      &:before {
        content: "\f09a";
        font-family: fontawesome;
      }
    }
    .oo-google-plus {
      background-image: none;
      width: auto;
      height: auto;

      &:before {
        content: "\f0d5";
        font-family: fontawesome;
      }
    }
    .oo-email-share {
      background-image: none;
      width: auto;
      height: auto;

      &:before {
        content: "\f0e0";
        font-family: fontawesome;
      }
    }
  }
}