openapi: 3.0.0
info:
  title: Live API Reference
  description: |-
    Reference for the Brightcove Live API, used to create and manage live
    streaming events.

     **Base URL**: https://api.bcovlive.io/v1
  version: 1.0.0
servers:
  - url: 'https://api.bcovlive.io/v1'
    variables: {}
tags:
  - name: Live Jobs
    description: >-
       Operations for creating live jobs, listing live jobs, getting job details, and canceling live jobs. There are also operations for activating and deactivating SEP jobs, and for inserting cuepoints or ID3 timed metadata.
  - name: Clips
    description: >-
      Operations for creating and managing VOD clips
  - name: SSAI
    description: Operations for managing server-side ad insertion with live streams.
  - name: Credentials
    description: Operations for creating and managing credentials for secure destinations.
paths:
  /jobs:
    post:
      tags:
        - Live Jobs
      summary: Create a Live Job
      description: Create a live streaming job
      operationId: CreateALiveJob
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create a live stream
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLiveJobRequestBody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveJob'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - Live Jobs
      summary: List Live Jobs
      description: >-
        'List live jobs - for additional useful information on the search filters, see [Getting a List of Live or VOD
        Jobs](https://support.brightcove.com/getting-list-live-or-vod-jobs)'
      operationId: ListLiveJobs
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/start_token'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/sort_dir'
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/account_id'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/modified_at'
        - $ref: '#/components/parameters/ad_insertion'
        - $ref: '#/components/parameters/static'
        - $ref: '#/components/parameters/state'
        - $ref: '#/components/parameters/ssai_state'
        - $ref: '#/components/parameters/region'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLiveJobsResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}':
    get:
      tags:
        - Live Jobs
      summary: Get Live Job Details
      description: Get Live Job Details
      operationId: GetLiveJobDetails
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
             INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/activate':
    put:
      tags:
        - Live Jobs
      summary: Activate SEP Stream
      description: Activate SEP (static entry point) Stream
      operationId: ActivateSepStream
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateSepStreamResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/deactivate':
    put:
      tags:
        - Live Jobs
      summary: Deactivate SEP Stream
      description: 'Deactivate SEP (static entry point) Stream '
      operationId: DeactivateSepStream
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateSepStreamResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/cuepoint':
    post:
      tags:
        - Live Jobs
      summary: Manual Cue Point Insertion
      description: >-
        Inserts a manual Cue-Out with a duration to the Live ingest point.
      operationId: ManualAdCuePointInsertion
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Inserts a manual Cue-Out with a duration to the Live ingest point.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualAdCuePointInsertionbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualAdCuePointInsertionResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: DB getItem, no results found - see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/id3tag':
    post:
      tags:
        - Live Jobs
      summary: Insert ID3 Timed Metadata
      description: >-
        Inserts an ID3 timed metadata tag for an ongoing job. Note that: 1) If
        using timecode property, the job only stores the most recent request for
        insertion; 2) If using timecode property, the encoder must be sending
        SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via
        OnFI
      operationId: InsertId3TimedMetadata
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: |-
          'Inserts an ID3 timed metadata tag for an ongoing job. Note that:
            1. If using timecode property, the job only stores the most recent request for insertion
            2. If using timecode property, the encoder must be sending SMPTE-formatted (HH:MM:SS:FF) timecode stored in the tc property via OnFI'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertId3TimedMetadatabody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsertId3TimedMetadataResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/cancel':
    put:
      tags:
        - Live Jobs
      summary: Cancel Live Job
      description: >-
         Cancel a live stream. When a live job is cancelled, it is ended, and any unprocessed VOD jobs associated with the live job will **not** be processed.
      operationId: CancelLiveJob
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelLiveJob'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/stop':
    put:
      tags:
        - Live Jobs
      summary: Stop Live Job
      description: >-
        Stop a live job. When a live job is stopped (as opposed to cancelled), the live stream will stop, but any VOD jobs associated with the live job **will** continue to process.
      operationId: StopLiveJob
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopLiveJob'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested - see Live API Error Messages for more details
        '500':
          description: >-
            INTERNAL_SERVER_ERROR: see Live API Error Messages for more details
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /vods:
    post:
      tags:
        - Clips
      summary: Create VOD Clip
      description: 'Create VOD clips from a Live Stream. '
      operationId: CreateVodClip
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create VOD clips from a Live Stream.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVodClipbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVodJobResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/vods/{jvod_id}':
    get:
      tags:
        - Clips
      summary: Get VOD Clip Job
      description: 'Get a VOD clip job by id. '
      operationId: GetVodClipJob
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/jvod_id'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VodJobs'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/jobs/{job_id}/vods':
    get:
      tags:
        - Clips
      summary: List VOD Clip Jobs
      description: >-
        List VOD clips for a Live Stream - for additional useful information on
        the search filters, see [Getting a List of Live or VOD
        Jobs](https://support.brightcove.com/getting-list-live-or-vod-jobs)
      operationId: ListVodClips
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/start_token'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/sort_dir'
        - $ref: '#/components/parameters/user_id'
        - $ref: '#/components/parameters/account_id'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/modified_at'
        - $ref: '#/components/parameters/jvod_state'
        - $ref: '#/components/parameters/jvod_type'
        - $ref: '#/components/parameters/label'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVodJobs'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Clips
      summary: 'Create VOD Clip (Alternate)'
      description: >-
        Create VOD clips from a Live Stream. This is operation is identical to
        the `POST` request to `/vods` - it is included for consistency, so that
        you can `GET` and `POST` requests to the same endpoint.
      operationId: CreateVodClipAlternate
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
        - $ref: '#/components/parameters/JobId'
      requestBody:
        description: Create VOD clips from a Live Stream.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVodClipbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VodJobs'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ssai/applications:
    post:
      tags:
        - SSAI
      summary: Create Ad Configuration
      description: 'Create a configuration for server-side ad application. '
      operationId: CreateAdConfiguration
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create a configuration for server-side ad application.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdConfigurationbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - SSAI
      summary: Get Ad Configurations
      description: Get ad applications for the current user.
      operationId: GetuserAdConfigurations
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/applications/account/{live_account_id}':
    get:
      tags:
        - SSAI
      summary: Get Account Ad Configurations
      description: 'Get ad applications for an account. '
      operationId: GetAccountAdConfigurations
      parameters:
        - $ref: '#/components/parameters/live_account_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/applications/application/{application_id}':
    get:
      tags:
        - SSAI
      summary: Get Ad Configuration
      operationId: GetAdConfiguration
      description: Get an ad application.
      parameters:
        - $ref: '#/components/parameters/application_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
        - SSAI
      summary: Update Ad Configuration
      description: 'Update a configuration for server-side ad application. '
      operationId: UpdateAdConfiguration
      parameters:
        - $ref: '#/components/parameters/application_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Update a configuration for server-side ad application.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdConfigurationbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - SSAI
      summary: Delete Ad Configuration
      description: 'Delete an ad application. '
      operationId: DeleteAdConfiguration
      parameters:
        - $ref: '#/components/parameters/application_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAdConfigurationResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ssai/beaconsets:
    post:
      tags:
        - SSAI
      summary: Create Beacon Set
      description: >-
        Beacons are data points on playback sent to ad servers to track whether
        and how much of ads were played. Creates a beacon set.
      operationId: CreateBeaconSet
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: >-
          Beacons are data points on playback sent to ad servers to track
          whether and how much of ads were played. Creates a beacon set.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBeaconSetbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBeaconSetResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - SSAI
      summary: Get Beacon Sets for User
      description: 'Get all beacon sets for the requesting user. '
      operationId: GetBeaconSetsForUser
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeaconSets'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ssai/beaconsets/beaconset/beacon_set_id:
    put:
      tags:
        - SSAI
      summary: Update Beacon Set
      description: 'Updates a beacon set. '
      operationId: UpdateBeaconSet
      parameters:
        - $ref: '#/components/parameters/BeaconSetId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Updates a beacon set.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBeaconSetbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeaconSet'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - SSAI
      summary: Delete Beacon Set
      description: 'Deletes a beacon set. '
      operationId: DeleteBeaconSet
      parameters:
        - $ref: '#/components/parameters/BeaconSetId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBeaconSetResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/beaconsets/account/{live_account_id}':
    get:
      tags:
        - SSAI
      summary: Get Beacon Sets
      description: 'Get all beacon sets for an account. '
      operationId: GetBeaconSets
      parameters:
        - $ref: '#/components/parameters/live_account_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeaconSet'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ssai/slates:
    post:
      tags:
        - SSAI
      summary: Ingest Slate Media Source Asset
      description: 'Ingest Slate Media Source Asset. '
      operationId: IngestSlateMediaSourceAsset
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Ingest Slate Media Source Asset.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSlateMediaSourceAssetbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSlateMediaSourceAssetResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - SSAI
      summary: Get User Slate Media Source Assets
      description: 'Get Slate Media Source Assets for the current user. '
      operationId: GetUserSlateMediaSourceAssets
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSlateMediaSourceAssetsResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/slates/slate{slate_msa_id}':
    delete:
      tags:
        - SSAI
      summary: Delete Slate Media Source Asset
      description: 'Delete Slate Media Source Asset. '
      operationId: DeleteSlateMediaSourceAsset
      parameters:
        - $ref: '#/components/parameters/SlateMsaId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSlateMediaSourceAssetResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/ssai/slates/account/{live_account_id}':
    get:
      tags:
        - SSAI
      summary: Get Slates for Account
      description: 'Get all beacon sets for an account. '
      operationId: GetSlatesForAccount
      parameters:
        - $ref: '#/components/parameters/live_account_id'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSlateMediaSourceAssetsResponse'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /credentials:
    get:
      tags:
        - Credentials
      summary: List Credentials
      description: >-
        This endpoint can be used to get user credentials for a given user
        provided one has an API key.
      operationId: ListCredentials
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCredentials'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Credentials
      summary: Create Credential
      description: 'Create a new credential. '
      operationId: CreateCredential
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Create a new credential.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCredentialbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCredential'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/credentials/{credential_id}':
    put:
      tags:
        - Credentials
      summary: Update Credential
      description: 'Update a credential. '
      operationId: UpdateCredential
      parameters:
        - $ref: '#/components/parameters/CredentialId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      requestBody:
        description: Update a credential.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCredentialbody'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCredential'
        '400':
          description: >-
            BAD_REQUEST: Invalid input value - see Live API Error Messages for
            more details
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Credentials
      summary: Delete Credential
      description: 'Delete a credential. '
      operationId: DeleteCredential
      parameters:
        - $ref: '#/components/parameters/CredentialId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/XAPIKEY'
      responses:
        '204':
          description: 'NO_CONTENT: the credential was deleted'
        '401':
          description: >-
            UNAUTHORIZED: Unauthorized - see Live API Error Messages for more
            details
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you
            requested - see Live API Error Messages for more details
        '500':
          description: 'INTERNAL_SERVER_ERROR: see Live API Error Messages for more details'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  schemas:
    ActivateSepStreamResponse:
      properties:
        id:
          description: The job id for the stream that was activated
          type: string
          readOnly: true
      required:
        - id
      title: Activate_SEP_Stream_Response
      type: object
    playback_added_cdns:
      properties:
        label:
          description: A label to identify the CDN.
          type: string
        prepend:
          description: 'Typically, a domain or path to prepend to addresses'
          type: string
        protocol:
          description: Protocol to use in sending the stream to the CDN.
          type: string
      required:
        - label
        - prepend
        - protocol
      title: add_cdns
      type: object
    Application:
      properties:
        account_id:
          description: The Live account id
          type: string
        application_ad_configuration:
          $ref: '#/components/schemas/Application.applicationAdConfiguration'
        application_id:
          description: The ad application id
          type: string
        description:
          description: The ad application description
          type: string
      required:
        - account_id
        - description
        - application_ad_configuration
        - application_id
      title: application
      type: object
    Application.applicationAdConfiguration:
      properties:
        ad_configuration_description:
          description: The ad configuration description
          type: string
        ad_configuration_strategy:
          description: >-
            The ad configuration strategy (SingleAdResponse, or
            MultipleAdResponse)
          type: string
        ad_configuration_transforms:
          description: The ad configuration transforms
          items:
            $ref: >-
              #/components/schemas/Application.applicationAdConfiguration.adConfigurationTransforms
          type: array
        ad_configuration_url_format:
          description: The URL template for the ad server
          type: string
        ad_configuration_variables:
          description: Key/value pairs for the ad server URL template
          type: object
        headers:
          description: The ad configuration headers
          type: object
        response_type:
          description: 'The ad configuration response type (Dfp, Vast, or SmartXML)'
          type: string
      required:
        - ad_configuration_description
        - response_type
        - headers
        - ad_configuration_strategy
        - ad_configuration_transforms
        - ad_configuration_url_format
        - ad_configuration_variables
      title: application.application_ad_configuration
      type: object
    Application.applicationAdConfiguration.adConfigurationTransforms:
      properties:
        xpath:
          description: The ad configuration transform xpath
          type: string
        xslt:
          description: The ad configuration transform xslt
          type: string
      required:
        - xpath
        - xslt
      title: application.application_ad_configuration.ad_configuration_transforms
      type: object
    BeaconSet:
      properties:
        account_id:
          description: The Live account id
          type: string
        beacon_urls:
          description: Array of beacon URLs
          items:
            $ref: '#/components/schemas/BeaconSet.beaconUrls'
          type: array
      required:
        - beacon_urls
      title: beacon_set
      type: object
    BeaconSet.beaconUrls:
      properties:
        beacon_type:
          description: Beacon type
          type: string
        beacon_url:
          description: Beacon URL
          type: string
      required:
        - beacon_url
        - beacon_type
      title: beacon_set.beacon_urls
      type: object
    BeaconSets:
      items:
        $ref: '#/components/schemas/BeaconSet'
      required:
        - beacon_set_id
        - account_id
      title: beacon_sets
      type: array
    CancelLiveJob:
      properties:
        id:
          description: >-
            The job id for the stream that was cancelled. No unprocessed VOD jobs associated with the live job will be processed.
          type: string
          readOnly: true
      title: Cancel_Live_Job_Response
      type: object
    StopLiveJob:
      properties:
        id:
          description: >-
            The job id for the stream that was stopped. Any unprocessed VOD jobs associated with the live job will continue to be processed.
          type: string
          readOnly: true
      title: Cancel_Live_Job_Response
      type: object
    CreateAdConfigurationbody:
      properties:
        account_id:
          description: >-
            Your Live account id (if you leave this blank, the request will
            still work, defaulting to account of the current user)
          type: string
        application_ad_configuration:
          $ref: >-
            #/components/schemas/CreateAdConfigurationbody.applicationAdConfiguration
        application_description:
          description: Human readable description of the ad application.
          type: string
      required:
        - application_ad_configuration
        - application_description
      title: Create_Ad_ConfigurationBody
      type: object
    CreateAdConfigurationbody.applicationAdConfiguration:
      properties:
        ad_configuration_description:
          description: Human readable description of the configuration.
          type: string
        ad_configuration_expected_response_type:
          description: The expected response type based on your ad server
          type: string
        ad_configuration_headers:
          description: >-
            An optional JSON object that can contain zero or more
            key-value-pairs, for which both key and value must be strings.  All
            of the standard URL substitutions are valid for headers.
          type: object
        ad_configuration_headers_for_impressions:
          description: >-
            If true, this configuration will send headers on all ad requests and
            impressions; if false, headers will not be sent on impressions
            (quartiles/impressions that we fire for tracking from an ad
            response).
          type: boolean
        ad_configuration_url_format:
          description: >-
            Format for the ad tag - see SSAI Using the Brightcove Live API for
            the available ad configuration variables.
          type: string
        ad_configuration_strategy:
          description: Specifies whether ad breaks should include single or multiple ads
          type: string
        ad_configuration_transforms:
          description: Array of ad configuration transforms.
          items:
            $ref: >-
              #/components/schemas/CreateAdConfigurationbody.applicationAdConfiguration.adConfigurationTransforms
          type: array
      required:
        - ad_configuration_description
        - ad_configuration_expected_response_type
        - ad_configuration_url_format
        - ad_configuration_strategy
        - ad_configuration_transforms
      title: Create_Ad_ConfigurationBody.application_ad_configuration
      type: object
    CreateAdConfigurationbody.applicationAdConfiguration.adConfigurationTransforms:
      properties:
        xpath:
          description: xpath for the transform.
          type: string
        xslt:
          description: xslt stylesheet for the transform.
          type: string
      required:
        - xpath
        - xslt
      title: >-
        Create_Ad_ConfigurationBody.application_ad_configuration.ad_configuration_transforms
      type: object
    CreateBeaconSetResponse:
      properties:
        account_id:
          description: The Live account id
          type: string
        beacon_urls:
          description: Array of beacon URLs
          items:
            $ref: '#/components/schemas/BeaconSet.beaconUrls'
          type: array
        inserted:
          description: Whether the beacon set was successfully added
          type: boolean
      required:
        - beacon_urls
      title: beacon_set
      type: object
    CreateBeaconSetbody:
      properties:
        account_id:
          description: Live account id
          type: string
        beacon_urls:
          description: Array of beacon URLs
          items:
            $ref: '#/components/schemas/CreateBeaconSetbody.beaconUrls'
          type: array
      required:
        - beacon_urls
      title: Create_beacon_setBody
      type: object
    CreateBeaconSetbody.beaconUrls:
      properties:
        beacon_type:
          description: >-
            'The beacon type - see ( https://support.brightcove.com/node/17763#Beacons) for the valid beacon types'
          type: string
        beacon_url:
          description: >-
            URL format for the beacon - see (
            https://support.brightcove.com/node/17763#Beacons) for the valid
            beacon variables
          type: string
      required:
        - beacon_url
        - beacon_type
      title: Create_beacon_setBody.beacon_urls
      type: object
    CreateCredential:
      properties:
        credential_id:
          description: The credential id
          type: string
        user_id:
          description: The user id
          type: string
      required:
        - credential_id
        - user_id
      title: Create_Credential_Response
      type: object
    CreateCredentialbody:
      properties:
        credential_default_for_type:
          description: Whether these are the default credentials for the request type
          type: boolean
        credential_label:
          description: Label for the credential
          type: string
        credential_private:
          description: Private key or password depending on the type
          type: string
        credential_public:
          description: Public key or password depending on the type
          type: string
        credential_type:
          description: The credential type
          enum:
            - ftp
            - http
            - oauth
            - rtmp
            - s3
            - videocloud
            - zencoder
          type: string
        oauth_settings:
          $ref: '#/components/schemas/CreateCredentialbody.oauthSettings'
        user_id:
          description: GUID for which the credentials are being created.
          type: string
      required:
        - user_id
        - credential_default_for_type
        - credential_label
        - credential_type
        - credential_private
        - credential_public
      title: Create_CredentialBody
      type: object
    CreateCredentialbody.oauthSettings:
      properties:
        url:
          description: >-
            OAuth access token URL for OAuth credentials needed to send
            notifications to a notification URL
          type: string
      required:
        - url
      title: Create_CredentialBody.oauth_settings
      description: >-
        OAuth settings for OAuth credentials needed to send notifications to a
        notification URL Required for oauth type credentials
      type: object
    CreateLiveJobRequestBody:
      properties:
        ad_audio_loudness_level:
          description: >-
            Adjust the loudness level of the audio. This is measured in LUFS and specified in dB. This is useful to set the output loudness level to conform to a standard (-23dB for EBU R.128) The recommended setting is -23.
          maximum: 60
          minimum: -60
          type: number
        ad_insertion:
          default: false
          description: >-
            Setting this parameter to true will enable server side ad insertion
            (SSAI) on the job. Current support includes, DFP, Freewheel, or any
            VAST 2.0/3.0 ad tags.
          type: boolean
        add_cdns:
          description: >-
            Array of additional CDN providers to be used for manifest generation. For each CDN provided, the manifest will be prepended accordingly
          items:
            $ref: '#/components/schemas/CreateLiveJobRequestBody.addCdns'
          type: array
        beacon_set:
          description: ID for a beacon set (for SSAI only).
          type: string
        channel_type:
          default: event
          description: >-
            'Indicates whether the job should be billed as `event` hours or a channel (`24x7`) - see [Channels and Event Hours](https://support.brightcove.com/overview-brightcove-live-api#Channels_and_hours).'
          enum:
            - 24x7
            - event
          type: string
        encryption:
          $ref: '#/components/schemas/CreateLiveJobRequestBody.encryption'
        event_length:
          default: 0
          description: >-
            Used to preset and define an end time for the live event. At any point within the specified `event_length` you may reconnect to your stream. The `event_length` setting goes into effect as soon as streaming begins. In case the encoder stops, the live stream will be kept available for the **remainder** of the `event_length` or the `reconnect_time`, whichever is *greater* (so if `event_length` is not set, its value is `0`, and `reconnect_time` will determine how long the stream is kept available)
          maximum: 93600
          minimum: 0
          type: integer
        hls_endlist:
          default: true
          description: >-
            Whether an `EXT-X-ENDLIST` tag should be added to the stream playlist when you stop the stream or the `reconnect_time` window has been reached. The `EXT-X-ENDLIST` tag indicates that no more Media Segments will be added to the Media Playlist file and helps prevent
            the player from displaying error messages when the stream stops.
          type: boolean
        live_dvr_ads_window_duration:
          default: 100
          description: >-
            The time, in seconds, to keep in the live DVR manifest. If the stream duration is longer than the window duration, segment references will be removed first in first out. Default is `100` seconds.
          maximum: 600
          minimum: 0
          type: integer
        live_dvr_sliding_window_duration:
          default: 100
          description: >-
            The time, in seconds, to keep in the live DVR manifest. If the stream duration is longer than the window duration, segment references will be removed first in first out. Default is 100 seconds. **Note: for SSAI jobs, the limit is `7200`.
          maximum: 86400
          minimum: 1
          type: integer
        live_stream:
          description: Indicates that the job is a live streaming job.
          type: boolean
        max_hls_protocol_version:
          default: 3
          description: >-
            Sets the maximum HLS protocol version to use. Special features will be used as available. Default is `3`.
          maximum: 5
          minimum: 1
          type: integer
        notifications:
          description: >-
            'Array of notification destination objects or strings - notifications defined here are for job-level events.  A notification will be sent to the destination when selected event occurs. You can use a simple string with a url: &quot;http://log:pass@httpbin.org/post&quot;, or you can use an object. See [Events](https://support.brightcove.com/live-api-notifications#Events) for an explanation of the events reported in `state_changed` notifications. <br> Retry strategy: In the event of a failed request to send a notification, the default retry strategy is to retry 50 times with an exponential delay between attempts: <br> `max_retry_times = 50` <br> `delay_delta_s = 5` <br> `next_retry =
            now_s + retry_count * delay_delta_s`'
          items:
            oneOf:
              - $ref: '#/components/schemas/Notification'
              - type: string
                description: A URL to send notifications to
          type: array
        outputs:
          description: >-
            Array of output specifications for live and VOD assets to be created
            from the live stream.
          items:
            $ref: '#/components/schemas/CreateLiveJobRequestBody.outputs'
          type: array
        reconnect_time:
          default: 1800
          description: >-
            The time, in seconds, to wait for a stream to reconnect to the encoder. If the encoder is disconnected, the live stream will be kept available for the full `reconnect_time` or for the **remainder** of the event length, whichever is greater.
          maximum: 7200
          minimum: 1
          type: integer
        region:
          description: >-
            AWS region - you can also specify region as the alias for a list set up for the account by Brightcove Support. See [Supported AWS Regions] (https://support.brightcove.com/overview-brightcove-live-api#Support_aws_regions) for more details on the support in each region.
          enum:
            - us-west-2
            - us-east-1
            - ap-southeast-2
            - ap-northeast-1
            - ap-southeast-1
            - ap-south-1
            - eu-central-1
            - eu-west-1
          type: string
        rtmp_credentials:
          description: The label for an RTMP credential to protect the RTMP stream
          type: string
        rtmp_ip_whitelist:
          description: Array of IP addresses white-listed for RTMP delivery
          items:
            type: string
          type: array
        slate:
          description: Id for a set of slate assets
          type: string
        static:
          default: false
          description: Whether this is a static entry point (SEP) job
          type: boolean
        videocloud:
          $ref: '#/components/schemas/CreateLiveJobRequestBody.videocloud'
      required:
        - live_stream
        - region
        - outputs
      title: Create_Live_JobBody
      type: object
      example: >-
        {
            "live_sliding_window_duration": 1,
            "notifications": [
                "http://solutions.brightcove.com/bcls/live/live-callbacks.php",
            ],
            "outputs": [{
                    "height": 720,
                    "video_bitrate": 2100,
                    "segment_seconds": 4,
                    "keyframe_interval": 60,
                    "width": 1280,
                    "video_codec": "h264",
                    "label": "hls720p",
                    "h264_profile": "high",
                    "live_stream": true
                },
                {
                    "height": 540,
                    "video_bitrate": 1500,
                    "segment_seconds": 4,
                    "keyframe_interval": 60,
                    "width": 960,
                    "video_codec": "h264",
                    "label": "hls540p",
                    "h264_profile": "main",
                    "live_stream": true
                },
                {
                    "height": 360,
                    "video_bitrate": 800,
                    "segment_seconds": 4,
                    "keyframe_interval": 60,
                    "width": 640,
                    "video_codec": "h264",
                    "label": "hls360p",
                    "h264_profile": "main",
                    "live_stream": true
                }
            ],
            "region": "us-west-2",
            "reconnect_time": 1800,
            "live_stream": true
        }
    CreateLiveJobRequestBody.addCdns:
      properties:
        label:
          description: A label to identify the CDN.
          type: string
        prepend:
          description: CDN hostname to be prepended to addresses
          type: string
        protocol:
          description: Protocol to use for the stream delivery
          enum:
            - http
            - https
          type: string
        token_auth:
          $ref: '#/components/schemas/CreateLiveJobRequestBody.addCdns.tokenAuth'
        vendor:
          description: CDN vendor such as akamai
          type: string
      required:
        - label
        - prepend
        - protocol
        - vendor
      title: Create_Live_Job_Request_Body.add_cdns
      type: object
    CreateLiveJobRequestBody.addCdns.tokenAuth:
      description: Token authentication details
      properties:
        auth_type:
          description: >-
            Token authentication type - currently, the only supported value is
            `Akamai2.0`
          type: string
        key:
          description: Your Akamai token auth password
          type: string
        media:
          $ref: >-
            #/components/schemas/CreateLiveJobRequestBody.addCdns.tokenAuth.media
        token_name:
          description: Your Akamai token token name
          type: string
      required:
        - auth_type
        - key
        - token_name
      title: Create_Live_Job_Request_Body.add_cdns.token_auth
      type: object
    CreateLiveJobRequestBody.addCdns.tokenAuth.media:
      description: Object containing tokenization properties
      properties:
        end_time:
          description: 'The time to end token auth, epoch time in seconds'
          format: int32
          type: integer
        start_time:
          default: now
          description: >-
            The time to apply token auth - &quot;now&quot; or epoch time in
            seconds
          format: int32
          oneOf:
            - type: integer
            - enum:
                - now
              type: string
        ttl:
          description: The time to live in seconds - either `end_time` or `ttl` is required
          format: int32
          type: integer
      title: Create_Live_Job_Request_Body.add_cdns.token_auth.media
      type: object
    CreateLiveJobRequestBody.encryption:
      properties:
        external_url:
          description: >-
            The URL for the external encryption key - this field is required if you specify type as external, and the external key must match the
            `key` value
          type: string
        key:
          description: |-
            The encryption key - either a `key`, `passphrase`, or `key_rotation` is required; if the type is `external`, `key` is required.

            The key must be 32 hexadecimal characters. For best results, generate a key by going to [a key generator](http://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx) and selecting the `128-bit` and `Hex` options.
          type: string
          maxLength: 32
          minLength: 32
        key_rotation:
          default: false
          description: >-
            Whether to use key rotation - either a `key`, `passphrase`, or `key_rotation` is required
          type: boolean
        method:
          description: The encryption method to use.
          enum:
            - aes-128
          type: string
        passphrase:
          description: >-
            The encryption key - either a `key`, `passphrase`, or `key_rotation` is required
          type: string
        rotate_every:
          default: 10
          description: Interval for key rotation in video segments
          type: integer
        type:
          description: >-
            The encryption type, depending on whether an internal or external key server will be used.
          enum:
            - internal
            - external
          type: string
      required:
        - method
        - type
      title: Create_Live_Job_Request_Body.encryption
      description: Encryption to apply to the stream.
      type: object
    CreateLiveJobRequestBody.outputs:
      properties:
        ad_audio_loudness_level:
          description: >-
            Adjust the loudness level of the audio. This is measured in LUFS and specified in dB. This is useful to set the output loudness level to conform to a standard (-23dB for EBU R.128) The recommended setting
            is -23.
          maximum: 60
          minimum: -60
          type: number
        audio_bitrate:
          default: 192
          description: 'An output bitrate setting for the audio track, in Kbps'
          maximum: 1024
          minimum: 16
          type: number
        audio_codec:
          default: aac
          description: 'The output audio codec to use. Note: Only `aac` is supported.'
          enum:
            - aac
          type: string
        copy_audio:
          description: >-
            Specifying copy_audio will take the audio track from the input video file and transmux it into the resulting output file.
          type: boolean
        copy_video:
          description: >-
            Specifying copy_video will take the video track from the input video file and transmux it into the resulting output file.
          type: boolean
        credentials:
          description: >-
            The name for credentials with private and public keys can be stored with Brightcove to avoid passing plain text on API requests. This is required if the S3 or FTP origins are restricted. If credentials are not provided, it will be assumed that the origin restrictions are set to public or credentials are passed along with the URL.
          type: string
        duration:
          description: >-
            Duration of the clip in seconds. The <code>duration</code> must be used alone to define a clip that will be made of the final <code>{duration}</code> seconds of the stream. <code>duration</code>
          maximum: 172800
          minimum: 0
          type: integer
        start_time:
          description: >-
            Start time for the clip in Epoch (Unix) time (seconds), <code>start_time</code> must be used alone or with <code>end_time</code>.
          type: integer
        end_time:
          description: >-
            End time for the clip in Epoch (Unix) time (seconds), <code>end_time</code> must be used alone or with <code>start_time</code>.
          type: integer
        stream_start_time:
          description: >-
            Start time in seconds for the clip relative to the start time of the live stream, <code>stream_start_time</code> must be used alone or with <code>stream_end_time</code>.
          maximum: 2147483647
          minimum: 0
          type: integer
        stream_end_time:
          description: >-
            End time in seconds for the clip relative to the start time of the live stream, <code>stream_end_time</code> must be used alone or with <code>stream_start_time</code>.
          type: integer
        stream_start_timecode:
          description: >-
            Start time for the clip in an SMPTE-formatted (HH:MM:SS:FF) timecode from the start of the stream, <code>stream_start_timecode</code> must be used alone or with <code>stream_end_timecode</code>.
          type: string
        stream_end_timecode:
          description: >-
            End time for the clip in an SMPTE-formatted (HH:MM:SS:FF) timecode from the end of the stream, <code>stream_end_timecode</code> must be
            used alone or with <code>stream_start_timecode</code>.
          type: string
        h264_profile:
          description: >-
            H.264 has three commonly-used profiles: Baseline (lowest), Main, and High. Lower levels are easier to decode, but higher levels offer better compression. For the best compression quality, choose High. For playback on low-CPU machines or many mobile devices, choose
            `baseline`.
          enum:
            - baseline
            - main
            - high
          type: string
        height:
          default: 480
          description: >-
            Video frame height. If no `width` or `height` is supplied, the source dimensions are used. If either `width` or `height` is supplied, the other dimension will be calculated to maintain the aspect ratio of the source.
          type: integer
        width:
          default: 640
          description: >-
            Video frame width. If no `width` or `height` is supplied, the source dimensions are used. If either `width` or `height` is supplied, the other dimension will be calculated to maintain the aspect ratio of
            the source.
          type: integer
        keyframe_interval:
          description: >-
            The maximum number of frames between each keyframe. If you set a low keyframe_interval it will increase the size / decrease the quality of your output file, but it will allow more precise scrubbing in most players. It’s recommended to have at least one keyframe per segment. If keyframe_interval is not provided, keyframes will follow the input GOP structure.
          maximum: 600
          minimum: 1
          type: integer
        label:
          description: Label for the live or VOD asset.
          type: string
        live_stream:
          description: >-
            For jobs, setting live_stream to true indicates the output is a live rendition. If live_stream is false, or is not set, the output will be treated as a VOD output.
          type: boolean
        notifications:
          description: >-
            Array of notification destination objects or strings - notifications defined here are for job-level events.  A notification will be sent to the destination when selected event occurs. You can use a simple string with a url: &quot;http://log:pass@httpbin.org/post&quot;, or you can use an object. See [Events](https://support.brightcove.com/live-api-notifications#Events) for an explanation of the events reported in `state_changed` notifications. <br> Retry strategy: In the event of a failed request to send a notification, the default retry strategy is to retry 50 times with an exponential delay between attempts: <br> `max_retry_times = 50` <br> `delay_delta_s = 5` <br> `next_retry = now_s + retry_count * delay_delta_s`
          items:
            oneOf:
              - type: string
              - properties:
                  event:
                    description: The type of event to send notifications for
                    enum:
                      - state_changed
                      - first_segment_uploaded
                      - output_finished
                    type: string
                type: object
          type: array
        rendition_label:
          description: >-
            Indicates what rendition to use to create a VOD output (from the live job) or which renditions to use. By default, the system uses any transmuxed rendition or the highest resolution output if there is no transmuxed output.
          type: string
        segment_seconds:
          description: Sets the maximum duration of each segment in a segmented output.
          maximum: 20
          minimum: 2
          type: number
        skip_audio:
          description: Specifying skip_audio removes the audio track.
          type: boolean
        skip_video:
          description: Specifying skip_video removes the video track.
          type: boolean
        streams:
          description: >-
            'When creating a playlist, the streams field is used to define which output renditions (by label) should be included in the manifest. Example format [{&quot;source&quot;: &quot;1080p&quot;}, {&quot;source&quot;: &quot;720p&quot;}].'
          type: object
        type:
          description: >-
            The only type supported is a playlist. This is used for generating multiple master playlists with different renditions in the HLS manifest with the defined stream labels.
          enum:
            - playlist
          type: string
        url:
          description: >-
            For VOD, `url` is mandatory (**unless** the destination is `videocloud`, in which case you dod **not** include the `url`) and sets the destination of the final asset destination. For access restricted origins, the credentials a can be passed along with the URL or stored within the Brightcove system. For Live, this is reserved for future use.
          type: string
        video_bitrate:
          description: target video bitrate in kbps
          maximum: 10000
          minimum: 64
          type: integer
        video_codec:
          description: 'The output video codec. Note: Only `h264` is supported.'
          enum:
            - h264
          type: string
        videocloud:
          $ref: '#/components/schemas/CreateVodClipbody.outputs.videocloud'
      required:
        - label
        - live_stream
        - video_bitrate
        - segment_seconds
      title: Create_Live_Job_Request_Body.outputs
      type: object
    CreateLiveJobRequestBody.videocloud:
      properties:
        account_id:
          description: >-
            The Video Cloud Account ID the video for the remote asset live stream should be created in. Only required if the account ID is not the default configured in your Live account. If set, you must also set the `videocloud.credentials` property.
          type: number
        credentials:
          description: >-
            Credentials to use for Video Cloud authentication. Only required if
            you set `videocloud.account_id`.
          type: string
        live_to_vod:
          type: boolean
          description: >-
            If set to `true`, a full VOD version of the live event will be created after the event is complete. Requires that there is a Video Cloud account associated with the Live account, *and* the `videocloud.video` property is set.
        video:
          $ref: '#/components/schemas/CreateLiveJobRequestBody.videocloud.video'
      required:
        - video
        - ingest
      title: Create_Live_Job_Request_Body.videocloud
      type: object
      description: >-
        Video Cloud customers have the option to create a video to use for the live stream. The `videocloud` object in the `job` settings is used for this purpose. If you want to define VOD clips to send to Video Cloud, use the `videocloud` object in `outputs`.
    CreateLiveJobRequestBody.videocloud.ingest:
      properties:
        callbacks:
          description: >-
            An array of URLs that notifications for the ingest job should be
            sent to
          items:
            type: string
          type: array
      title: Create_Live_Job_Request_Body.videocloud.ingest
      description: >-
        An object containing inputs for Video Cloud video ingestion - see the [Dynamic Ingest Reference](https://brightcovelearning.github.io/Brightcove-API-References/dynamic-ingest-api/v1/doc/swagger.html#operations-Ingest-AccountsVideosIngestRequestsByAccountIdAndVideoIdPost) - do not include the master field, as that information will be provided by the Live API
      type: object
    CreateLiveJobRequestBody.videocloud.video:
      properties:
        cue_points:
          description: Array of cuepoint objects
          items:
            $ref: >-
              #/components/schemas/CreateLiveJobRequestBody.videocloud.video.cuePoint
          type: array
        custom_fields:
          description: >-
            An object whose properties are `fieldname`:`value` pairs - be sure to the *internal* name of the field
          type: object
        description:
          description: Video short description
          type: string
        drm_disabled:
          description: >-
            Use to disable DRM packaging for this video - applies only to DRM-enabled accounts
          type: boolean
        economics:
          type: string
          description: whether the video supports ads
          enum:
            - AD_SUPPORTED
            - FREE
        geo:
          $ref: '#/components/schemas/CreateLiveJobRequestBody.videocloud.video.geo'
        long_description:
          description: A longer description of the video
          type: string
        name:
          description: Title of the video clip
          type: string
        reference_id:
          description: Reference id for the clip - must be unique within the account
          type: string
        schedule:
          $ref: >-
            #/components/schemas/CreateLiveJobRequestBody.videocloud.video.schedule
        state:
          type: string
          description: Whether the video should be active or inactive
          example: ACTIVE
          enum:
            - ACTIVE
            - INACTIVE
        tags:
          description: >-
            Array of tags for the video - note that  tags are string that may not contain a comma
          type: object
      required:
        - name
      title: Create_Live_Job_Request_Body.videocloud.video
      description: >-
        'An object containing inputs for Video Cloud video object creation - see the [CMS API Reference](https://brightcovelearning.github.io/Brightcove-API-References/cms-api/v1/doc/swagger.html#operations-Videos-CreateVideo)'
      type: object
    CreateLiveJobRequestBody.videocloud.video.cuePoint:
      properties:
        force-stop:
          description: whether video is force-stopped at the cue point
          type: boolean
        metadata:
          description: optional metadata string (512 single-byte characters maximum)
          type: string
        name:
          description: cue point name
          type: string
        time:
          description: 'time of the cue point in seconds; example: 10.527'
          type: number
        type:
          description: cue point type
          enum:
            - AD
            - CODE
          example: AD
          type: string
      required:
        - time
        - type
      title: Create_Live_Job_Request_Body.videocloud.video.cue_point
      type: object
    CreateLiveJobRequestBody.videocloud.video.geo:
      properties:
        countries:
          description: >-
            array of ISO 3166 list of 2-letter
            codes(https://www.iso.org/obp/ui/#home) (search for &quot;country
            codes&quot;)
          type: string
        exclude_countries:
          description: >-
            if true, country array is treated as a list of countries excluded
            from viewing
          type: boolean
        restricted:
          description: whether geo-restriction is enabled for this video
          type: boolean
      required:
        - countries
        - exclude_countries
        - restricted
      title: Create_Live_Job_Request_Body.videocloud.video.geo
      type: object
      description: map of geo-filtering properties
    CreateLiveJobRequestBody.videocloud.video.schedule:
      properties:
        ends_at:
          description: >-
            end date-time of availability in ISO-8601(http://www.ecma-international.org/ecma-262/5.1/#sec-15.9.1.15) format
          type: string
        starts_at:
          description: >-
            start date-time of availability in ISO-8601(http://www.ecma-international.org/ecma-262/5.1/#sec-15.9.1.15) format
          type: string
      required:
        - ends_at
        - starts_at
      title: Create_Live_Job_Request_Body.videocloud.video.schedule
      type: object
      description: map of scheduling properties
    CreateVodClipbody:
      properties:
        live_job_id:
          description: The id of Live Stream job to create the VOD clip from.
          type: string
        outputs:
          description: Array of VOD outputs
          items:
            $ref: '#/components/schemas/CreateVodClipbody.outputs'
          type: array
      required:
        - live_job_id
        - outputs
      title: Create_VOD_ClipBody
      type: object
      example: >-
        {
          "live_job_id": "3ae7fa89943f4a96aa273fbbf175d527",
          "outputs": [{
            "label": "first 30 secs of live job",
            "notifications": ["http://solutions.brightcove.com/bcls/live/live-callbacks.php"],
            "stream_start_time": 10,
            "stream_end_time": 300,
            "credentials": "{{vc_credentials}}",
            "videocloud": {
              "video": {
                "name": "TEST Clip"
              },
              "ingest": {}
            }
          }]
        }
    CreateVodClipbody-Alternate:
      properties:
        outputs:
          description: Array of VOD outputs
          items:
            $ref: '#/components/schemas/CreateVodClipbody.outputs'
          type: array
      required:
        - outputs
      title: Create_VOD_ClipBody
      type: object
    CreateVodClipbody.outputs:
      properties:
        credentials:
          description: >-
            The name of the credentials configured in your Live account for this destination. Not required if using the default Video Cloud account associated with your Live account.
          type: string
        notifications:
          description: >-
            'Array of notification destination objects or strings - notifications defined here are for job-level events.  A notification will be sent to the destination when selected event occurs. You can use a simple string with a url: &quot;http://log:pass@httpbin.org/post&quot;, or you can use an object. See [Events](https://support.brightcove.com/live-api-notifications#Events) for an explanation of the events reported in `state_changed` notifications. <br> Retry strategy: In the event of a failed request to send a notification, the default retry strategy is to retry 50 times with an exponential delay between attempts: <br> `max_retry_times = 50` <br> `delay_delta_s = 5` <br> `next_retry = now_s + retry_count * delay_delta_s`'
          items:
            oneOf:
              - $ref: '#/components/schemas/Notification'
              - type: string
                description: A URL to send notifications to
          type: array
        duration:
          description: >-
            Duration of the clip in seconds. The <code>duration</code> must be used alone to define a clip that will be made of the final <code>{duration}</code> seconds of the stream. <code>duration</code>
          maximum: 172800
          minimum: 0
          type: integer
        start_time:
          description: >-
            Start time for the clip in Epoch (Unix) time (seconds), <code>start_time</code> must be used alone or with <code>end_time</code>.
          type: integer
        end_time:
          description: >-
            End time for the clip in Epoch (Unix) time (seconds), <code>end_time</code> must be used alone or with <code>start_time</code>.
          type: integer
        stream_start_time:
          description: >-
            Start time in seconds for the clip relative to the start time of the live stream, <code>stream_start_time</code> must be used alone or with <code>stream_end_time</code>.
          maximum: 2147483647
          minimum: 0
          type: integer
        stream_end_time:
          description: >-
            End time in seconds for the clip relative to the start time of the live stream, <code>stream_end_time</code> must be used alone or with <code>stream_start_time</code>.
          type: integer
        stream_start_timecode:
          description: >-
            Start time for a frame-accurate clip in an SMPTE-formatted (HH:MM:SS:FF) timecode from the start of the stream, <code>stream_start_timecode</code> must be used alone or with <code>stream_end_timecode</code>. Requires that the encoder is sending timecodes.
          type: string
        stream_end_timecode:
          description: >-
            End time for a frame-accurate clip in an SMPTE-formatted (HH:MM:SS:FF) timecode from the end of the stream, <code>stream_end_timecode</code> must be
            used alone or with <code>stream_start_timecode</code>. Requires that the encoder is sending timecodes.
          type: string
        label:
          description: Label for the output
          type: string
        url:
          description: >-
            `url` is mandatory (**unless** the destination is `videocloud`, in which case you dod **not** include the `url`) and sets the destination of the final asset destination. For access restricted origins, the credentials a can be passed along with the URL or stored within the Brightcove system. For Live, this is reserved for future use.
          type: string
        videocloud:
          $ref: '#/components/schemas/CreateVodClipbody.outputs.videocloud'
      required:
        - label
      title: Create_VOD_ClipBody.outputs
      type: object
    CreateVodClipbody.outputs.videocloud:
      properties:
        account_id:
          description: >-
            The Video Cloud Account ID the clip should be ingested to. Only required if using Video Cloud Account ID other than the default configured in your Live account. If set, you must also set the
            `credentials` property on the output.
          type: number
        ingest:
          $ref: '#/components/schemas/CreateVodClipbody.outputs.videocloud.ingest'
        video:
          $ref: '#/components/schemas/CreateVodClipbody.outputs.videocloud.video'
      required:
        - video
        - ingest
      title: Create_VOD_ClipBody.outputs.videocloud
      description: An object containing inputs for Video Cloud ingestion
      type: object
    CreateVodClipbody.outputs.videocloud.ingest:
      properties:
        callbacks:
          description: >-
            An array of URLs that notifications for the ingest job should be sent to
          items:
            type: string
          type: array
        capture-images:
          description: >-
            'Whether poster and thumbnail should be captured during transcoding; defaults to `true` if the the profile has image renditions, `false` if it does not - see [Images and the Dynamic Ingest API](https://support.brightcove.com/images-and-dynamic-ingest-api) for more information'
          example: true
          type: boolean
        profile:
          description: >-
            The ingest profile to use - we recommend that you do **not** include this field and use the account default profile instead
          type: string
        audio_tracks:
          description: >-
            array of audio track objects - see [Implementing Multiple Audio Tracks Using the APIs](https://support.brightcove.com/implementing-multiple-audio-tracks-using-apis) for more information.  **Dynamic Delivery only**
          type: array
          items:
            type: object
            properties:
              merge_with_existing:
                type: boolean
                description: >-
                  Whether to replace existing audio tracks or add the new ones (currently only `false` is supported)
                default: false
              masters:
                type: array
                description: Array of audio master objects
                items:
                  type: object
                  properties:
                    url:
                      type: string
                      description: URL for the audio file
                    language:
                      type: string
                      description: >-
                        'Language code for the audio track from the subtags in (https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) (default can be set for the account by contacting
                        Brightcove Support)'
                    variant:
                      type: string
                      description: >-
                        the type of audio track (default can be set for the account by contacting Brightcove Support)
                      enum:
                        - main
                        - alternate
                        - commentary
                        - dub
                        - descriptive
        text_tracks:
          description: >-
            array of text_tracks objects - see [Ingesting WebVTT Files (Text Tracks)](https://support.brightcove.com/ingesting-webvtt-files-text-tracks)
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                description: URL for a WebVTT file
              srclang:
                type: string
                description: ISO 639 2-letter (alpha-2) language code for the text tracks
              kind:
                type: string
                description: How the vtt file is meant to be used
                enum:
                  - captions
                  - subtitles
                  - chapters
                  - metadata
                default: captions
              label:
                type: string
                description: User-readable title for tracks
              default:
                type: boolean
                description: Sets the default language for captions/subtitles
                default: false
        poster:
          description: >-
            The custom video poster to be ingested - see [Images and the Dynamic Ingest API](https://support.brightcove.com/images-and-dynamic-ingest-api) for more information. Do not use if `capture-images` is set to `true`
          type: object
          properties:
            url:
              type: string
              description: URL for the video poster image
            height:
              type: integer
              description: Height of the poster in pixels
            width:
              type: integer
              description: Width of the poster in pixels
        thumbnail:
          description: >-
            The custom video thumbnail to be ingested - see [Images and the Dynamic Ingest API](https://support.brightcove.com/images-and-dynamic-ingest-api) for more information. Do not use if `capture-images` is set to `true`
          type: object
          properties:
            url:
              type: string
              description: URL for the video thumbnail image
            height:
              type: integer
              description: Height of the thumbnail in pixels
            width:
              type: integer
              description: Width of the thumbnail in pixels
      title: Create_VOD_ClipBody.outputs.videocloud.ingest
      description: >-
        An object containing inputs for Video Cloud video ingestion - see the [Dynamic Ingest Reference](https://brightcovelearning.github.io/Brightcove-API-References/dynamic-ingest-api/v1/doc/swagger.html#operations-Ingest-AccountsVideosIngestRequestsByAccountIdAndVideoIdPost) - do not include the master field, as that information will be provided by the Live API. If no ingest profile is specified, the account default profile will be used.
      type: object
    CreateVodClipbody.outputs.videocloud.video:
      properties:
        cue_points:
          description: Array of cuepoint objects
          items:
            $ref: >-
              #/components/schemas/CreateVodClipbody.outputs.videocloud.video.cuePoint
          type: array
        custom_fields:
          description: >-
            An object whose properties are `fieldname`:`value` pairs - be sure to the *internal* name of the field
          type: object
        description:
          description: Video short description
          type: string
        drm_disabled:
          description: >-
            Use to disable DRM packaging for this video - applies only to DRM-enabled accounts
          type: boolean
        economics:
          type: string
          description: whether the video supports ads
          enum:
            - AD_SUPPORTED
            - FREE
        geo:
          $ref: '#/components/schemas/CreateVodClipbody.outputs.videocloud.video.geo'
        long_description:
          description: A longer description of the video
          type: string
        name:
          description: Title of the video clip
          type: string
        reference_id:
          description: Reference id for the clip - must be unique within the account
          type: string
        schedule:
          $ref: >-
            #/components/schemas/CreateVodClipbody.outputs.videocloud.video.schedule
        state:
          type: string
          description: Whether the video should be active or inactive
          example: ACTIVE
          enum:
            - ACTIVE
            - INACTIVE
        tags:
          description: >-
            Array of tags for the video - note that  tags are string that may not contain a comma
          type: object
      required:
        - name
      title: Create_VOD_ClipBody.outputs.videocloud.video
      description: >-
        'An object containing inputs for Video Cloud video object creation - see the [CMS API Reference](https://brightcovelearning.github.io/Brightcove-API-References/cms-api/v1/doc/swagger.html#operations-Videos-CreateVideo)'
      type: object
    CreateVodClipbody.outputs.videocloud.video.cuePoint:
      properties:
        force-stop:
[...]
