{
  "openapi": "3.0.0",
  "info": {
    "title": "Brightcove CMS API Reference",
    "description": "Reference for the Brightcove CMS API, used to access and manage your media library. To test API requests, you can use our <a href=\"https://support.brightcove.com/developer-tools-and-concepts\" target=\"_blank\">API Testing Tools</a>. For permissions needed for OAuth credentials, see <a href=\"https://support.brightcove.com/api-operations-client-credentials-requests\" target=\"_blank\">API Operations</a>. For information on authenticating API requests, see <a href=\"https://support.brightcove.com/overview-oauth-api-v4\">OAuth Overview</a>.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cms.api.brightcove.com/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/accounts/{account_id}/counts/playlists": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get_Playlist_Count",
        "description": "Gets a count of playlists in the account for the account ",
        "operationId": "GetPlaylistCount",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort results by; if absent and there is a search string, results are sorted by relevance or if there is no search string, results are sorted by updated_at descending - note: to sort in descending order, preface the field name with a minus (-) sign",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search string - see [search guide](https://support.brightcove.com/cms-api-playlists-search) for details. Only search by type is currently supported for playlists — e.g. q=type:EXPLICIT.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/GetPlaylistCountresponse"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_SORT: sort parameter specified and invalid field \nINVALID_SEARCH: search string invalid (may not have been URI-encoded) "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [
          {"BC_OAuth2": ["video-cloud/playlist/read"]}
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/counts/playlists/{playlist_id}/videos": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get_Video_Count_in_Playlist",
        "description": "Gets a count of the videos in a playlist for the account ",
        "operationId": "GetVideoCountInPlaylist",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playlist_id",
            "in": "path",
            "description": "Video Cloud playlist ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/GetVideoCountInPlaylistresponse"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_SORT: sort parameter specified and invalid field \nINVALID_SEARCH: search string invalid (may not have been URI-encoded) "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [
          {"BC_OAuth2": ["video-cloud/playlist/read"]}
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/counts/videos": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get_Video_Count",
        "description": "Gets count of videos for the account or a search ",
        "operationId": "GetVideoCount",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort results by (prefix with `-` for descending order)",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Sort38"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search string - see [search guide](https://support.brightcove.com/cmsplayback-api-videos-search) for details",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/GetVideoCountresponse"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_SORT: sort parameter specified and invalid field "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [
          {"BC_OAuth2": ["video-cloud/video/read"]}
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get_Folders",
        "description": "Gets list of folders for the account ",
        "operationId": "GetFolders",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "example": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [
          {"BC_OAuth2": ["video-cloud/video/read"]}
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create_Folder",
        "description": "Create a new folder for the account ",
        "operationId": "CreateFolder",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create a new folder for the account",
          "content": {
            "application/json": {
              "schema": {
                "description": "Create a new folder for the account",
                "$ref": "#/components/schemas/Folder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Folder created",
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/video/create"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/folders/{folder_id}": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get_FolderInformation",
        "description": "Gets information about a folder ",
        "operationId": "GetFolderinformation",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder_id",
            "in": "path",
            "description": "Video Cloud folder ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  },
                  "description": "200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/video/read"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Delete_Folder",
        "description": "Delete a folder ",
        "operationId": "DeleteFolder",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder_id",
            "in": "path",
            "description": "the folder ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the folder (must be unique in the account)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201"
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/video/delete"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "tags": [
          "Folders"
        ],
        "summary": "Update_Folder_Name",
        "description": "Update the folder name ",
        "operationId": "UpdateFolderName",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder_id",
            "in": "path",
            "description": "the folder ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update the folder name",
          "content": {
            "application/json": {
              "schema": {
                "description": "Update the folder name",
                "$ref": "#/components/schemas/Folder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/video/update"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/folders/{folder_id}/videos": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get_Videos_in_Folder",
        "description": "Gets list of video objects in a folder ",
        "operationId": "GetVideosInFolder",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder_id",
            "in": "path",
            "description": "the folder ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "example": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Videos in the folder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Video"
                  },
                  "description": "Videos in the folder"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/video/read"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/folders/{folder_id}/videos/{video_id}": {
      "put": {
        "tags": [
          "Folders"
        ],
        "summary": "Add_Video_to_Folder",
        "description": "Add a video to a folder ",
        "operationId": "AddVideoToFolder",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder_id",
            "in": "path",
            "description": "the folder ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "video_id",
            "in": "path",
            "description": "the video ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/video/update"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Remove_Video_from_Folder",
        "description": "Remove a video from a folder ",
        "operationId": "RemoveVideoFromFolder",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder_id",
            "in": "path",
            "description": "the folder ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "video_id",
            "in": "path",
            "description": "the video ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Video successfully removed from the folder"
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/video/update"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/playlists": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get_Playlists",
        "description": "Gets a page of playlist objects for the account ",
        "operationId": "GetPlaylists",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "example": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort results by; if absent and there is a search string, results are sorted by relevance or if there is no search string, results are sorted by updated_at descending - note: to sort in descending order, preface the field name with a minus (-) sign",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search string - see [search guide](https://support.brightcove.com/cms-api-playlists-search) for details. Only search by type is currently supported for playlists — e.g. q=type:EXPLICIT.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Playlist"
                  },
                  "description": "200"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_SORT: sort parameter specified and invalid field \nINVALID_SEARCH: search string invalid (may not have been URI-encoded) "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/playlist/read"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Create_Playlist",
        "description": "Creates a new playlist ",
        "operationId": "CreatePlaylist",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Creates a new playlist",
          "content": {
            "application/json": {
              "schema": {
                "description": "Creates a new playlist",
                "$ref": "#/components/schemas/Playlist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Playlist created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Playlist created",
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          },
          "400": {
            "description": "BAD_VALUE: The JSON could not be parsed "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "409": {
            "description": "REFERENCE_ID_IN_USE: The specified reference id is already in use "
          },
          "422": {
            "description": "ILLEGAL_FIELD: Spelling error or use of non-existent field "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/playlist/create"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/playlists/{playlist_id}": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get_Playlist_by_ID",
        "description": "Gets a playlist object for the account ",
        "operationId": "GetPlaylistById",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playlist_id",
            "in": "path",
            "description": "Video Cloud playlist ID, or multiple playlist ids separated by commas.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_SORT: sort parameter specified and invalid field \nINVALID_SEARCH: search string invalid (may not have been URI-encoded) "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/playlist/read"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "tags": [
          "Playlists"
        ],
        "summary": "Delete_Playlists",
        "description": "Deletes a playlist ",
        "operationId": "DeletePlaylists",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playlist_id",
            "in": "path",
            "description": "Video Cloud playlist ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "INVALID_SORT: sort parameter specified and invalid field \nINVALID_SEARCH: search string invalid (may not have been URI-encoded) "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/playlist/delete"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "tags": [
          "Playlists"
        ],
        "summary": "Update_Playlist",
        "description": "Updates a playlist for the account ",
        "operationId": "UpdatePlaylist",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playlist_id",
            "in": "path",
            "description": "Video Cloud playlist ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updates a playlist for the account",
          "content": {
            "application/json": {
              "schema": {
                "description": "Updates a playlist for the account",
                "$ref": "#/components/schemas/Playlist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          },
          "400": {
            "description": "BAD_VALUE: The JSON could not be parsed "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "409": {
            "description": "REFERENCE_ID_IN_USE: The specified reference id is already in use "
          },
          "422": {
            "description": "ILLEGAL_FIELD: Spelling error or use of non-existent field "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/playlist/update"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/playlists/{playlist_id}/videos": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get_Videos_in_Playlist",
        "description": "Gets the video objects for videos in a playlist for the account ",
        "operationId": "GetVideosInPlaylist",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playlist_id",
            "in": "path",
            "description": "Video Cloud playlist ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Video"
                  },
                  "description": "200"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_SORT: sort parameter specified and invalid field \nINVALID_SEARCH: search string invalid (may not have been URI-encoded) "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/playlist/read"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/subscriptions": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get_Subscriptions_List",
        "description": "Get a list of all notification subscriptions for the account ",
        "operationId": "GetSubscriptionsList",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  },
                  "description": "200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/notifications/all"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Create_Subscription",
        "description": "Establishes up to 10 endpoints that video changes should be sent to. Any change in video metadata will trigger a video change event and a notification &mdash; changes to assets used by the video will not trigger change events.",
        "operationId": "CreateSubscription",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Establishes up to 10 endpoints that video changes should be sent to. Any change in video metadata will trigger a video change event and a notification &mdash; changes to assets used by the video will not trigger change events.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Establishes up to 10 endpoints that video changes should be sent to. Any change in video metadata will trigger a video change event and a notification &mdash; changes to assets used by the video will not trigger change events.",
                "$ref": "#/components/schemas/Subscription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Subscription created",
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "422": {
            "description": "Unprocessable_Entity: 1) You already have a subscription for the video-change event that delivers to that address; 2) the endpoint or events field is missing from the request; 3) you already have 10 subscriptions to this event "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/notifications/all"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/subscriptions/{subscription_id}": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get_Subscription",
        "description": "Get a notification subscription for the account ",
        "operationId": "GetSubscription",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription_id",
            "in": "path",
            "description": "the subscription ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/notifications/all"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "tags": [
          "Notifications"
        ],
        "summary": "Delete_Subscription",
        "description": "Delete a notification subscription for the account ",
        "operationId": "DeleteSubscription",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription_id",
            "in": "path",
            "description": "the subscription ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Item was deleted"
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/notifications/all"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/video_fields": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get_Custom_Fields",
        "description": "Gets a list of custom fields for the account ",
        "operationId": "GetCustomFields",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/VideoFields"
                }
              }
            }
          },
          "400": {
            "description": "REFERENCES_EXIST: You are attempting to delete a video that is included in at least one playlist \nSHARED_VIDEO: Deletion of shared videos is not yet supported "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is temporarily unavailable "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [
          {"BC_OAuth2": ["video-cloud/video/read"]}
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/videos": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get_Videos",
        "description": "Gets a page of video objects ",
        "operationId": "GetVideos",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "example": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort results by (prefix with `-` for descending order)",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Sort38"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search string - see [search guide](https://support.brightcove.com/cmsplayback-api-videos-search) for details",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Video"
                  },
                  "description": "200"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_SORT: sort parameter specified and invalid field \nILLEGAL_QUERY: The search string syntax was invalid - example"
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact Support "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: Resource not found "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: Issue in Brightcove system; try again later. \nTIMEOUT: Server likely too busy; try again later."
          }
        },
        "deprecated": false,
        "security": [
          {"BC_OAuth2": ["video-cloud/video/read"]}
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Videos"
        ],
        "summary": "Create_Video",
        "description": "Create a new video object in the account. Note: this does not ingest a video file - use the Dynamic Ingest API for ingestion ",
        "operationId": "CreateVideo",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see Getting Access Tokens",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create a new video object in the account. Note: this does not ingest a video file - use the Dynamic Ingest API for ingestion",
          "content": {
            "application/json": {
              "schema": {
                "description": "Create a new video object in the account. Note: this does not ingest a video file - use the Dynamic Ingest API for ingestion",
                "$ref": "#/components/schemas/Video"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Video created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Video created",
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "BAD_VALUE: Spelling error or other use of non-existent field "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "409": {
            "description": "REFERENCE_ID_IN_USE: You attempted to create a video with a reference id that is already in use, or add a reference id to a video which is already used by another video "
          },
          "422": {
            "description": "ILLEGAL_FIELD: Spelling error or other use of non-existent field "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [
          {"BC_OAuth2": ["video-cloud/video/create"]}
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/videos/{video_id}": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get_Video_by_ID_or_Reference_ID",
        "description": "Gets a video object ",
        "operationId": "GetVideoByIdOrReferenceId",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "video_id",
            "in": "path",
            "description": "Video Cloud video ID (or multiple ids separated by commas) (or ref:reference_id - only one reference id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [
          {"BC_OAuth2": ["video-cloud/video/read"]}
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "tags": [
          "Videos"
        ],
        "summary": "Delete_Video",
        "description": "Deletes a video ",
        "operationId": "DeleteVideo",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "video_id",
            "in": "path",
            "description": "Video Cloud video ID (or ref:reference_id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "409": {
            "description": "REFERENCES_EXIST: The video is in one or more manual playlists "
          },
          "412": {
            "description": "PRE_CONDITION_FAILED: usually this means the caller provided an ETag that didn&#39;t match the version of the video "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "INTERNAL_ERROR: Error in the backend "
          }
        },
        "deprecated": false,
        "security": [
          {"BC_OAuth2": ["video-cloud/video/delete"]}
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "tags": [
          "Videos"
        ],
        "summary": "Update_Video",
        "description": "Update a video&#39;s metadata note that this API does not ingest any media files - use the Dynamic Ingest API for ingestion. Also note that replacing WebVTT text tracks is a two-step operation - see Add WebVTT Captions for details.",
        "operationId": "UpdateVideo",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "video_id",
            "in": "path",
            "description": "Video Cloud video ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update a video&#39;s metadata note that this API does not ingest any media files - use the Dynamic Ingest API for ingestion. Also note that replacing WebVTT text tracks is a two-step operation - see Add WebVTT Captions for details.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Update a video&#39;s metadata note that this API does not ingest any media files - use the Dynamic Ingest API for ingestion. Also note that replacing WebVTT text tracks is a two-step operation - see Add WebVTT Captions for details.",
                "$ref": "#/components/schemas/Video"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          },
          "400": {
            "description": "AD_CONFIG_INACTIVE: Ad configuration specified in an SSAI request is inactive \nAD_CONFIG_NOT_FOUND: Ad configuration specified in an SSAI request was not found "
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "403": {
            "description": "BAD_VALUE: Spelling error or other use of non-existent field "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "409": {
            "description": "REFERENCE_ID_IN_USE: You attempted to create a video with a reference id that is already in use, or add a reference id to a video which is already used by another video "
          },
          "422": {
            "description": "ILLEGAL_FIELD: Spelling error or other use of non-existent field \nVALIDATION_ERROR: the JSON data was not valid - error messages vary depending on the problem "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          },
          "500": {
            "description": "UNKNOWN: an unknown internal error occurred - this might be a temporary system issue, but if the problem persists, it is likely an uncaught error in the request - contact Support "
          },
          "503": {
            "description": "TIMEOUT: Server likely too busy - try again later "
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/video/update"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/videos/{video_id}/audio_tracks": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get_Video_Audio_Tracks",
        "description": "Gets the audio tracks for a video Dynamic Delivery only ",
        "operationId": "GetVideoAudioTracks",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "video_id",
            "in": "path",
            "description": "Video Cloud video ID (or ref:reference_id).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AudioTrack"
                  },
                  "description": "200"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token "
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource you requested "
          },
          "405": {
            "description": "METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint "
          },
          "429": {
            "description": "TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second "
          }
        },
        "deprecated": false,
        "security": [{"BC_OAuth2": ["video-cloud/video/read"]}],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{account_id}/videos/{video_id}/audio_tracks/{audio_track_id}": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get_Video_Audio_Track",
        "description": "Gets one audio track for a video by its ID Dynamic Delivery only ",
        "operationId": "GetVideoAudioTrack",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Video Cloud account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "video_id",
            "in": "path",
            "description": "Video Cloud video ID (or ref:reference_id)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio_track_id",
            "in": "query",
            "description": "the id for the audio track, formed as &#39;language_variant&#39;",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type: application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer access_token (see [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token))",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "description": "200",
                  "$ref": "#/components/schemas/AudioTrack"
                }
              }
            }
          },
          "401": {
[...]
