


.hljs
{
    background: transparent;
}

.parent
{
    color: #4F4E52;  
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus
{
    color: #FFFFFF; 
    background-color: #000000;
    
}

.list-group-item > .badge
{
    float: none;
    margin-right: 6px;
}

.panel-body {}

.method-description
{
    background-color: #4F4E52;
}

.panel-title > .methods
{
    float: right;
}

.badge
{
    border-radius: 0;
    text-transform: uppercase;
    width: 70px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: normal;
}

.badge_get
{
    background-color: #41C3DC; 
}

.badge_post
{
    background-color: #78A12E;
}

.badge_put
{
    background-color: #9261A8;
}

.badge_delete
{
    background-color: #9F0C30;
}

.badge_patch
{
    background-color: #FBAF3F;
}

.badge_connect, .badge_options, .badge_head 
{
    background-color: #979797;
}

.list-group, .panel-group
{
    margin-bottom: 0;
}

.panel-heading
{
    border-color: #4F4E52;
}

.panel-group .panel+.panel-white
{
    margin-top: 0;
}

.panel-group .panel-white
{
    border-bottom: 1px solid #4F4E52;
    border-radius: 0;
}

.panel-white:last-child
{
    border-bottom-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.panel-white .panel-heading
{
    background: #FFFFFF; 
}

.tab-pane ul
{
    padding-left: 2em;
}

.tab-pane h2 
{
    font-size: 1.2em;
    padding-bottom: 4px;
    border-bottom: 1px solid #4F4E52;
}

.tab-pane h3
{
    font-size: 1.1em;
}

.tab-content 
{
    border-left: 1px solid #4F4E52; 
    border-right: 1px solid #4F4E52;
    border-bottom: 1px solid #4F4E52;
    border-top: 1px solid #4F4E52;  
    padding: 10px;
}

#sidebar
{
    margin-top: 30px;
    padding-right: 5px;
    overflow: auto;
    height: 90%;
}

.top-resource-description
{
    border-bottom: 1px solid #4F4E52;  
    background: #FFFFFF;
    padding: 15px 15px 0 15px;
    margin: -15px -15px 10px -15px;
}

.resource-description
{
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
    padding: 15px 15px 0 15px;
    margin: -15px -15px 10px -15px;
}

.resource-description p:last-child
{
    margin: 0;
}

.list-group .badge
{
    float: left;
}

.method_description
{
    margin-left: 85px;
}

.method_description p:last-child
{
    margin: 0;
}

.list-group-item
{
    cursor: pointer;
    border-color: #4F4E52;
}

.list-group-item:hover
{
    background-color: #F5F5F5; 
    
}

.hidden-print affix a:link {}
.hidden-print affix a:visited {}

.footer
{
    font-family: "Arial";
    color: #4F4E52; 
}

.panel-default 
{
    border: 1px solid #4F4E52;
}

.panel-default>.panel-heading
{
    color: #FFFFFF;
    background-color: #4F4E52;
    border-color: #4F4E52;
}

.alert-info 
{
    
    background-color: #EEFFEE;
    border-color: #4F4E52;
}

.request, .response
{
    
    background-color: #4F4E52;
}

.page-header 
{
    border-color: #4F4E52;
}

.tab-content
{
    border-style: solid;
    border-width: 0px 2px 2px 2px;
}

.modal-content a:link, .modal-content a:visited {color: #FFFFFF;}
.modal-content a:hover, .modal-content a:active {color: #4F4E52;}

.page-header a:link, .page-header a:visited, .page-header a:hover, .page-header a:active,
.method_description a:link, .method_description a:visited, .method_description a:hover, .method_description a:active,
.top-resource-description a:link, .top-resource-description a:visited, .top-resource-description a:hover, .top-resource-description a:active,
.tab-content a:link, .tab-content a:visited, .tab-content a:hover, .tab-content a:active,
.alert-info a:link, .alert-info a:visited, .alert-info a:hover, .alert-info a:active
{
    color: #000000; text-decoration: none; font-weight: bold; border-bottom: 1px solid #41C3DC;
}
 
.introClass a:link, .introClass a:visited, .introClass a:hover, .introClass a:active 
{
    color: #000000;
    text-decoration:none;
    font-weight: normal;
    border-bottom: 0px
}

.modal-header 
{
    background-color: #FFFFFF;
    border-color: #4F4E52;
}

.modal-dialog 
{
    background-color: #000000;
    width: 1000px;
}

.panel-group .panel-white .panel-body
{
    background-color: #4F4E52;
    border-color: #4F4E52;
}

.text-panel
{
    background-color: #4F4E52;
}

.smallSectionHeading
{
    color: #4F4E52;
    font-size: 14px;
}
