


.feedback-button, .feedback-button > a
{
    background-color: #4F4E52;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    margin-bottom: 14px;
    width: 150px;
    cursor: pointer;
    border-radius: 3px;
}

#inputTxt
{
    background-color: #FFF;
    color: #4F4E52;
    border-color: #4F4E52;
}
