/*
RGB values here are in hexadecimal.
BLACK SWAN #000000
GRAY'S ANATOMY #4F4E52
WHITE WEDDING #FFFFFF
A CLOCKWORK ORANGE #FBAF3F
HILL STREET BLUES #41C3DC
THE GREEN MILE #78A12E
PURPLE RAIN #9261A8
RED DAWN #9F0C30
*/

.modal
{
    display: none;
   	position: fixed;
	margin: auto;
	z-index: 1;
   	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content
{
    background-color: #FEFEFE;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close
{
	color: rgba(0,0,0,1.0);
    color: #4F4E52;
   	float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover, .close:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.feedback-button, .feedback-button > a
{
    background-color: #4F4E52;/*#A0A0A0;*/
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    margin-bottom: 14px;
    width: 150px;
    cursor: pointer;
}

h1, h3
{
    border-bottom: solid 1px #4F4E52;
}

h4
{
    padding-bottom: 2px;
    border-bottom: dotted 1px #4F4E52;
}

dt > a:link,
dt > a:visited,
dt > a:hover,
dt > a:active
{
    color: #4F4E52;
}

#toc
{
    background-color: #FFFFFF;/*#FEFEFE;*/
    border: solid #4F4E52 2px;
    opacity: 1.0;
}

.toc-h1 > a,
.toc-h2 > a,
.toc-h3 > a,
.toc-h4 > a
{
    background-color: #FFFFFF;/*#FEFEFE;*/
    color: #4F4E52;
}

.toc-h1 > a:hover,
.toc-h2 > a:hover,
.toc-h3 > a:hover,
.toc-h4 > a:hover
{
    background-color: #5C5C5C;
    color: #4F4E52;
}

.toc-active > a
{
    background-color: #000000;
    color: #FFFFFF;
}

.jsdoc-message
{
    margin-bottom: 40px;
    border-top: 1px solid #4F4E52;
    padding-top: 3px;
}

.jsdoc-message > a
{
    color: #4F4E52;
}
