video.video-js .vjs-default-skin {
    display: block;
    position: static;
}

.analytics-event {
    color: #990000;
}
.player-event {
    color: #6e9fb3;
}
#player {
    margin-bottom: 25em;
}
div.event-log {
    border: 1px #6e9fb3 solid;
    border-radius: 5px;
    display: block;
    font-size: .8em;
    overflow: scroll;
    padding: 10px;
    min-height: 220px;
    max-height: 220px;
    max-width: 70%;
    width: 70%;
}
