

* {
  margin: 0;
  padding: 0;
}
body, html
{
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial";
  color: #4F4E52;
  font-size: 18px;
}
body
{
  height: 100%;
  background: #4F4E52;
}

a:link, a:hover, a:visited
{
  color: #4F4E52;
}

article > header h1
{
  font-size: 22px;
  font-weight: normal;
  background-color: #4F4E52;
  color: #FFFFFF;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

.ourLogo
{
  margin: 20px;
  padding: 10px;
  border-radius: 3px;
  background: #4F4E52;
}
article {
  background: #fff;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 3px;
  overflow: hidden;
}
article > header
{
  border-bottom: 1px solid #4F4E52;
  padding: 0 0 20px 0;
  margin: 0 0 7px 0;
}
article > header p {
  
}
h2
{
  background-color: #41C3DC;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 5px;
  line-height: 180%;
  
  float: left;
}
footer {
  border-top: 1px solid #4F4E52;
  padding: 20px 0 0 0;
  margin: 7px 0 0 0;
}
.container {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  display: block;
  color: #FFFFFF;  
}
.container.top {
  padding: 0 0 7px 0;
}
.container.bot {
  padding: 7px 0 0 0;
}
.required {
  color: #000000;
  position: absolute;
  font-size: 8px;
  left: -10px;
  top: 1px;
  text-shadow: 0.5px 0.5px #4F4E52;
}
dl {
  float: left;
  width: 100%;
}
dt
{
    font-weight: bold;
  position: relative;
  clear: left;
  float: left;
  margin: 0 0 7px 3px;
  background-color: #8F8F8F;
  color: #FFFFFF;
  border-radius: 0px;
  padding: 8px; 
}
dt.parent0, dt.parent1, dt.parent2, dt.parent3, dt.parent4
{
  
  color: #FFFFFF;
  border-color: #4F4E52;
  border-radius: 3px;
  cursor: pointer;
}

dt.parent0 {background-color: #FBAF3F;}
dt.parent1 {background-color: #41C3DC;}
dt.parent2 {background-color: #78A12E;}
dt.parent3 {background-color: #9261A8;}
dt.parent4 {background-color: #9F0C30;}

dt.parent, dt.generalParent
{
  
  background-color: #41C3DC;
  border-color: #4F4E52;
  color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
}

dt.typeButton, dt.descriptionButton, dt.requiredButton, dt.defaultButton
{
  border-color: #4F4E52;
  color: #FFFFFF;
  border-radius: 0px;
}

dt.typeButton        {background-color: #8F8F8F;}
dt.requiredButton    {background-color: #FBAF3F;}
dt.descriptionButton {background-color: #78A12E;}
dt.defaultButton     {background-color: #FBAF3F;}

dt.generalParent {background-color: #9F0C30;}

dd {
  display: inline-block;
  overflow: hidden;
  
  margin-top: 8px; 
  float: left;
  margin-left: 15px;
}
dd.new-block {
  clear: left;
  display: block;
  padding: 0 0 0 20px;  
  margin-left: 0px;
  margin-top: 0px;
}
dd:last-child {
  margin-bottom: 0;
}
dd p {
  
}
.index ul {
  padding: 0;
}
li {
  clear: left;
  overflow: hidden;
  padding: 7px;
  border-radius: 3px;
  position: relative;
}
li:nth-child(odd) {
  background: #eee;
}
li:nth-child(even) {
  background: #ddd;
}
h1 {
  color: #09c;
  margin: 0 0 7px 0;
  font-size: 24px;
}

h3,
h4,
h5,
h6 {
  color: #09c;
  line-height: 140%;
  padding: 0 0 7px 0;
}
p {
  margin: 0 0 7px 0;
  font-size: 18px;
}
a
{
  color: #09c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

dd a:link, dd a:visited, dd a:hover, dd a:active
{
  background-color: #41C3DC;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
}

footer
{
    font-size: 20px;
}

dd.booleanType, dd.objectType, dd.stringType, dd.numberType, dd.arrayType,
dd.BooleanType, dd.ObjectType, dd.StringType, dd.NumberType, dd.ArrayType,
dd.IntegerType, dd.integerType,
.bool, dd.nullType
{
    padding: 3px;
    
    font-family: "Courier New";
    font-weight: bold;
}

.modal
{
    display: none;
   	position: fixed;
	margin: auto;
	z-index: 1;
   	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content
{
    background-color: #FEFEFE;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close
{
	color: rgba(0,0,0,1.0);
    color: #4F4E52;
   	float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover, .close:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#searchCapsule
{
    float: right;
}

#inputTxt
{
    background-color: #FFF;
    color: #4F4E52;
    border-color: #4F4E52;
    height: 22px;
    font-size: 16px;
    border-radius: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    margin-bottom: 2px;
}

#searchButton
{
    color: #FFF;
    background-color: #4F4E52;
    border: none;
    height: 22px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
}


doNotAlterOrDuplicateThis
{}
