<p class="BCL-objective"><!-- Add the description for the course here --> Total time for this course:</p>
<!--break-->
<p><span id="flipButton" class="BCLbutton bcl-hide">Show the player</span>
</p>
<div id="play-area">
	<div id="playlist" data-playlistid="3637400920001">&nbsp;</div>
	<div id="videoPlayer" class="bcl-hide">
		<!-- Start of Brightcove Player -->
		<script language="JavaScript" type="text/javascript" src="//sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>
		<object id="myExperience2079975065001" class="BrightcoveExperience">
			<param name="bgcolor" value="#FFFFFF" />
			<param name="width" value="604" />
			<param name="height" value="340" />
			<param name="playerID" value="2081645594001" />
			<param name="playerKey" value="AQ~~,AAAABLsQgFE~,jGXrTxeVLAQAxWWh5tR_yAk4ujie9FeT" />
			<param name="isVid" value="true" />
			<param name="isUI" value="true" />
			<param name="dynamicStreaming" value="true" />
			<param name="@videoPlayer" value="2081645594001" />
			<param name="wmode" value="transparent" />
			<!-- smart player api params -->
			<param name="includeAPI" value="true" />
			<param name="templateLoadHandler" value="BCLS.onTemplateLoad" />
			<param name="templateReadyHandler" value="BCLS.onTemplateReady" />
		</object>
		<!-- End of Brightcove Player -->
		<p id="relatedLink">&nbsp;</p>
	</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<script src="//docs.brightcove.com/en/scripts/https-fix.js"></script>
<script src="//docs.brightcove.com/en/video-cloud/training-on-demand-scripts/secondsToTime.js"></script>
<script src="//docs.brightcove.com/en/video-cloud/training-on-demand-scripts/bcls-button-labels.js"></script>
<script src="//docs.brightcove.com/en/video-cloud/training-on-demand-scripts/training-on-demand.js"></script>
<script src="//docs.brightcove.com/en/scripts/https-fix.js"></script>
<script type="text/javascript">
	brightcove.createExperiences();
</script>