$bc-green: #a5c13f;
$bc-green-light: #c1d42f;
$bc-green-dark: #85a93e;
$bc-orange: #f67e33;
$bc-orange-light: #f99941;
$bc-orange-dark: #dd712e;
$bc-pink: #d32781;
$bc-pink-light: #ed3093;
$bc-pink-dark: #a91157;
$bc-blue: #409ca9;
$bc-blue-light: #64b0b7;
$bc-blue-dark: #337d87;
$bc-indigo: #32488a;
$bc-indigo-light: #465bc4;
$bc-indigo-dark: #293b70;
$bc-yellow: #fdd447;
$bc-yellow-light: #ffd96e;
$bc-yellow-dark: #ecb612;
$gray-dark: #333;
$text-dark: #515151;
$text: #717171;
$gray-medium: #a1a1a1;
$gray-light: #ccc;
$gray-xlight: #ddd;
$gray-xxlight: #eee;
$pre-yellow: #fcf6e2;
