.bcls-article {
  color: #717171;
  font-family: Arial, "Helvetica Neue", sans-serif; }
  .bcls-article a:hover {
    text-decoration: underline; }
  .bcls-article code {
    background: none;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem; }

.bcls-header h1 {
  font-size: 3em; }

.bcls-section a {
  color: #465bc4;
  text-decoration: none; }
.bcls-section a:hover {
  text-decoration: underline; }
.bcls-section .bcls-section__title {
  color: #515151; }

section {
  display: block; }

.bcls-aside {
  padding: 1em 1em 1em 2.7em;
  margin-bottom: 1em;
  border-radius: .3em; }
  .bcls-aside--information {
    background-color: #fef6ee;
    border: 1px #f99941 solid;
    color: #6b3503; }
    .bcls-aside--information:before {
      content: url(../assets/aside-icons/info.png);
      margin-left: -2.5em;
      margin-top: -.5em;
      float: left; }
    .bcls-aside--information a {
      color: #f67e33; }
  .bcls-aside--tip {
    background-color: #f3f7d8;
    color: #4a5e23;
    border: 1px #85a93e solid; }
    .bcls-aside--tip:before {
      content: url(../assets/aside-icons/check.png);
      margin-left: -2.5em;
      margin-top: -.5em;
      float: left; }
    .bcls-aside--tip a {
      color: #a5c13f; }
  .bcls-aside--warning {
    background-color: #fdecf5;
    color: #4c0827;
    border: 1px #a91157 solid; }
    .bcls-aside--warning:before {
      content: url(../assets/aside-icons/caution.png);
      margin-left: -2.5em;
      margin-top: -.5em;
      float: left; }
    .bcls-aside--warning a {
      color: #d32781; }

.bcls-expander-head {
  text-decoration: underline; }
  .bcls-expander-head:before {
    content: url(../assets/plus.png);
    margin-left: -1em;
    margin-top: .2em;
    margin-right: .2em; }
  .bcls-expander-head.changed {
    text-decoration: none; }
  .bcls-expander-head.changed:before {
    content: url(../assets/minus.png);
    margin-left: -1em;
    margin-top: .2em;
    margin-right: .2em; }

.bcls-expander-content {
  -webkit-transition: all 1.0s ease-in-out;
  -moz-transition: all 1.0s ease-in-out;
  -o-transition: all 1.0s ease-in-out;
  transition: all 1.0s ease-in-out;
  height: 0;
  visibility: hidden;
  display: none; }

.bcls-question {
  cursor: pointer;
  font-size: 1em; }
  .bcls-question:hover {
    text-decoration: underline; }

.bcls-answer {
  display: none; }

.bcls-caption--table {
  font-size: .7em; }

.bcls-caption--image {
  font-size: .7em; }

code {
  color: #dd712e;
  font-family: "Source Code Pro", "Andale Mono", "Menlo", "Courier New", monospace;
  font-size: inherit;
  font-weight: bold; }

.bcls-pre {
  border-left: 0.5em solid #293b70;
  background-color: #F0EFED;
  font-family: "Source Code Pro", "Andale Mono", "Menlo", "Courier New", monospace;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0.5em 0.5em 1em #cccccc;
  -moz-box-shadow: 0.5em 0.5em 1em #cccccc;
  box-shadow: 0.5em 0.5em 1em #cccccc; }
  .bcls-pre code {
    font-weight: normal; }

.bcls-table {
  border-collapse: collapse;
  border: 1px #a1a1a1 solid; }
  .bcls-table .bcls-table__head {
    background-color: #dddddd; }
    .bcls-table .bcls-table__head th {
      border: 1px #a1a1a1 solid;
      padding: .5em; }
  .bcls-table .bcls-table__body td {
    border: 1px #a1a1a1 solid;
    padding: .5em; }

.bcls-image {
  border: 1px #a1a1a1 solid; }

.bcls-image--no-border {
  border: none; }

.bcls-fieldset {
  border: 1px #a1a1a1 solid; }

.bcls-button {
  background-color: #dddddd;
  background: linear-gradient(#cccccc, #dddddd, #a1a1a1);
  border: 1px #a1a1a1 solid;
  border-radius: .5em;
  cursor: pointer;
  font-weight: bold;
  padding: 1em; }

.bcls-footer {
  background-color: #515151;
  bottom: 0;
  font-family: Arial, "Helvetica Neue", sans-serif;
  height: 2em;
  left: 0;
  line-height: 1.2em;
  padding-top: .5em;
  position: fixed;
  text-align: center;
  width: 100%; }
  .bcls-footer a {
    color: #eeeeee;
    font-weight: bold;
    text-decoration: none; }
  .bcls-footer a:hover {
    text-decoration: underline; }

.breadcrumbs {
  position: fixed;
  top: 40px;
  left: 0;
  height: 26px;
  width: 100%;
  z-index: 6; }

.sidebar {
  position: fixed;
  top: 4em;
  left: 2em; }

body {
  position: relative;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%; }

/*# sourceMappingURL=bcls-doc.css.map */
